div(style="page-break-before:always")
h3 Υλοποίηση κυκλώματος στο Multisim
p.
	Το κύκλωμα του φίλτρου που σχεδιάστηκε προηγουμένως, εισάγεται στο λογισμικό Multisim όπου θα ελεγχθεί η ορθότητα της σχεδίασης του μέσω διάφορων πειραμάτων και θα εξαχθούν χρήσιμα συμπεράσματα για τη λειτουργία του φίλτρου.
	Το κύκλωμα, μαζί με τα διάφορα εργαλεία που χρησιμοποιούνται για τον έλεγχό του, φαίνεται στο επόμενο σχηματικό:

figure.block-center.width-19cm
	img(src="3_band_elimination/assets/diagrams/multisim_band_elimination_chebyshev_circuit_layout.svg").width-19cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Υλοποίηση ζωνοφρακτικού Chebyshev στο Multisim.
		.caption.
			Εκτός από το κύκλωμα του φίλτρου, το σχηματικό περιλαμβάνει ένα bode plotter (XBP1), δύο spectrum analyzers (XSA1 και XSA2) και ένα oscilloscope (XSC1) για την καταγραφή των εισόδων και εξόδων του φίλτρου. Επίσης έχουν τοποθετηθεί μία πηγή στοιχειώδους περιοδικού σήματος (V1), μία ομάδα πέντε συνημιτονοειδών πηγών τάσης (V2-V6) και ένας διακόπτης (S1) για την επιλογή του σήματος εισόδου.

div(style="page-break-before:always")
p.
	Ο διακόπτης S1 τοποθετείται στην δεξιά επαφή ώστε να επιλεχθεί ως σήμα εισόδου του φίλτρου το στοιχειώδες ημιτονοειδές σήμα της πηγής V1 με χαρακτηριστικά Vpp=1 V, f=1 kHz. Χρησιμοποιώντας το εργαλείο bode plotter (XBP1), εξάγεται η απόκριση συχνότητας του κυκλώματος. Το διάγραμμα και οι επιλεγμένες τιμές του εργαλείου φαίνονται παρακάτω:

figure.block-center.width-15cm
	img(src="3_band_elimination/assets/diagrams/multisim_band_elimination_chebyshev_bode_plotter.svg").width-15cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Έξοδος bode plotter-XBP1 ζωνοφρακτικού Chebyshev φίλτρου από το Multisim.
		.caption.
			Οι επιλογές του bode plotter που χρησιμοποιήθηκαν:
			#[br/]#[strong Mode:] Magnitude
			#[br/]#[strong Horizontal:] Log με #[strong F:] 20 kHz και #[strong I:] 1 Hz
			#[br/]#[strong Vertical:] Log με #[strong F:] 10 dB και #[strong I:] -200 dB
			#[br/]#[strong Set...] με #[strong Resolution points:] 1000

p.
	Το παρακάτω διάγραμμα είναι ίδιο με το προηγούμενο, σημειώνονται όμως οι αποκρίσεις στις κρίσιμες συχνότητες:

figure.block-center.width-15cm
	img(src="3_band_elimination/assets/diagrams/multisim_band_elimination_chebyshev_bode_plotter_with_values.svg").width-15cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Έξοδος bode plotter-XBP1 ζωνοφρακτικού Chebyshev φίλτρου από το Multisim με σημειωμένες τις αποκρίσεις στις κρίσιμες συχνότητες.
		.caption.
			Οι επιλογές του bode plotter που χρησιμοποιήθηκαν:
			#[br/]#[strong Mode:] Magnitude
			#[br/]#[strong Horizontal:] Log με #[strong F:] 20 kHz και #[strong I:] 1 Hz
			#[br/]#[strong Vertical:] Log με #[strong F:] 10 dB και #[strong I:] -200 dB
			#[br/]#[strong Set...] με #[strong Resolution points:] 1000
			#[br/]Οι συχνότητες που σημειώνονται είναι μία τυχαία χαμηλή συχνότητα (10 Hz), f#[sub 1]=1950 Hz, f#[sub 3]=2259 Hz, f#[sub 4]=2761 Hz, f#[sub hp]=3141 Hz, μέγιστο σημείο του ripple (4624 Hz)  και τυχαία υψηλή συχνότητα (20000 Hz).

p.
	Από το διάγραμμα 4.3.3 γίνεται φανερό ότι η ανάλυση του κυκλώματος στο Multisim συμφωνεί με τη θεωρητική ανάλυση που προηγήθηκε κάθως και την ανάλυση που έγινε χρησιμοποιώντας το Matlab. Παρατηρούνται ωστόσο μικρές αποκλίσεις, της τάξης 10#[sup -3], οι οποίες αποδίδονται στο γεγονός ότι οι τιμές των στοιχείων που χρησιμοποιήθηκαν στο Multisim έχουν μικρότερη ακρίβεια από ότι οι αντίστοιχες τιμές στην ανάλυση στο Matlab. Επίσης οι συχνότητες που σημειώνονται στα διαγράμματα απέχουν μερικά Hz από τις κρίσιμες συχνότητες (για παράδειγμα 2259 Hz αντί για 2261.546 Hz).

p.
	Ο διακόπτης S1 τοποθετείται τώρα στην αριστερή επαφή ώστε να επιλεχθεί ως σήμα εισόδου του φίλτρου το σύνθετο σήμα αποτελούμενο από τα συνημιτονοειδή των πηγών V2-V6:

p.latex-equation.
	$$\begin{align*} V_{in} &= 0.5\cos\bigg((\omega_0-\frac{\omega_0-\omega_3}{2})t\bigg) + 0.8\cos\bigg((\omega_0+\frac{\omega_0+\omega_3}{3})t\bigg) + 0.8\cos(0.4\omega_1t) \\[1em] &+ 0.6\cos(2.5\omega_2t) + 1.2\cos(3\omega_2t) \\[1em] &=0.5\cos(2*\pi*2380.8t) + 0.8\cos(2*\pi*4087.2t) + 0.8\cos(2*\pi*780t) \\[1em] &+ 0.6\cos(2*\pi*8012.8t) + 1.2\cos(2*\pi*9615.4t) \end{align*}$$

p.
	Χρησιμοποιώντας το εργαλείο oscilloscope (XSC1), εξάγεται η κυματομορφή του σήματος εισόδου. Το διάγραμμα και οι επιλεγμένες τιμές του εργαλείου φαίνονται παρακάτω:

figure.block-center.width-17cm
	img(src="3_band_elimination/assets/diagrams/multisim_band_elimination_chebyshev_oscilloscope_input_sig.svg").width-17cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Έξοδος oscilloscope-XSC1 (μόνο channel A) ζωνοφρακτικού Chebyshev φίλτρου από το Multisim.
		.caption.
			Οι επιλογές του oscilloscope που χρησιμοποιήθηκαν:
			#[br/]#[strong Timebase:] #[strong Scale:] 5 ms/Div, #[strong X pos.:] 0 και #[strong mode:] Y/T
			#[br/]#[strong Channel:] #[strong Scale:] 2 V/Div, #[strong Y pos.:] 0 και #[strong mode:] DC

p.
	Χρησιμοποιώντας το ίδιο εργαλείο (XSC1), εξάγεται η κυματομορφή της εξόδου. Το διάγραμμα και οι επιλεγμένες τιμές του εργαλείου φαίνονται παρακάτω:

figure.block-center.width-17cm
	img(src="3_band_elimination/assets/diagrams/multisim_band_elimination_chebyshev_oscilloscope_output_sig.svg").width-17cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Έξοδος oscilloscope-XSC1 (μόνο channel B) ζωνοφρακτικού Chebyshev φίλτρου από το Multisim.
		.caption.
			Οι επιλογές του oscilloscope που χρησιμοποιήθηκαν:
			#[br/]#[strong Timebase:] #[strong Scale:] 5 ms/Div, #[strong X pos.:] 0 και #[strong mode:] Y/T
			#[br/]#[strong Channel:] #[strong Scale:] 2 mV/Div, #[strong Y pos.:] 0 και #[strong mode:] DC & -

p.
	Χρησιμοποιώντας και τα δύο κανάλια του εργαλείου (XSC1), εξάγεται η κυματομορφή της εισόδου και της εξόδου στο ίδιο διάγραμμα. Το διάγραμμα και οι επιλεγμένες τιμές του εργαλείου φαίνονται παρακάτω:

figure.block-center.width-17cm
	img(src="3_band_elimination/assets/diagrams/multisim_band_elimination_chebyshev_oscilloscope_combined_input_output_sig.svg").width-17cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Έξοδος oscilloscope-XSC1 ζωνοφρακτικού Chebyshev φίλτρου από το Multisim.
		.caption.
			Οι επιλογές του oscilloscope που χρησιμοποιήθηκαν:
			#[br/]#[strong Timebase:] #[strong Scale:] 5 ms/Div, #[strong X pos.:] 0 και #[strong mode:] Y/T
			#[br/]#[strong Channel A:] (input signal) #[strong Scale:] 2 V/Div, #[strong Y pos.:] 0 και #[strong mode:] DC
			#[br/]#[strong Channel B:] (output signal) #[strong Scale:] 2 V/Div, #[strong Y pos.:] 0 και #[strong mode:] DC & -

p.
	Στα παραπάνω διαγράμματα μπορούμε να δούμε αναλυτικά τα σήματα εισόδου και εξόδου στο χρόνο. Στις περιγραφές των διαγραμμάτων φαίνονται οι επιλογές που έγιναν στον παλμογράφο για να προκύψουν οι αντίστοιχες παραστάσεις.

p.
	Η συνολική απόκριση του φίλτρου στο σήμα εισόδου που καθόρισε η εκφώνηση, ελέγχθηκε στο λογισμικό Matlab. Η είσοδος και η έξοδος του φίλτρου στο χρόνο, όπως προέκυψαν στο Matlab, φαίνονται στο παρακάτω διάγραμμα:

figure.block-center.width-17cm
	img(src="3_band_elimination/assets/diagrams/matlab_band_elimination_chebyshev_combined_input_output_sig.svg").width-17cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Σήματα εισόδου και εξόδου στο χρόνο, διάγραμμα από Matlab.
		.caption.
			Παρατηρείται ότι τα σήματα συμφωνούν με αυτά του Multisim.

p.
	Χρησιμοποιήθηκαν οι εντολές fft και lsim που παρέχονται από το λογισμικό για να εξαχθεί η απόκριση και στη συνέχεια το φάσμα της απόκρισης τόσο για την είσοδο όπως και για την έξοδο. Το φάσμα του σήματος εισόδου φαίνεται στο παρακάτω διάγραμμα:

figure.block-center.width-17cm
	img(src="3_band_elimination/assets/diagrams/matlab_band_elimination_chebyshev_input_spectrum.svg").width-17cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Φάσμα σήματος εισόδου, διάγραμμα από Matlab.

div(style="page-break-before:always")
p.
	Το φάσμα του σήματος εξόδου φαίνεται στο παρακάτω διάγραμμα:

figure.block-center.width-17cm
	img(src="3_band_elimination/assets/diagrams/matlab_band_elimination_chebyshev_output_spectrum.svg").width-17cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Φάσμα σήματος εξόδου, διάγραμμα από Matlab.

p.
	Η ίδια απόκριση ελέγχθηκε και στο Multisim. Διατηρώντας τον διακόπτη S1 στη αριστερή επαφή, χρησιμοποιείται το εργαλείο spectrum analyzer (XSA1) για να εξαχθεί το φάσμα εισόδου. Το διάγραμμα και οι επιλεγμένες τιμές του εργαλείου φαίνονται παρακάτω:

figure.block-center.width-17cm
	img(src="3_band_elimination/assets/diagrams/multisim_band_elimination_chebyshev_spectrum_analyzer_input.svg").width-17cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Φάσμα σήματος εισόδου, έξοδος spectrum analyzer-XSA1 από Multisim.
		.caption.
			Οι επιλογές του spectrum analyzer που χρησιμοποιήθηκαν:
			#[br/]#[strong Frequency:] #[strong Span:] 12 kHz, #[strong Start:] 0 Hz, #[strong Center:] 6 kHz και #[strong End:] 12 kHz
			#[br/]#[strong Amplitude:] #[strong lin] και #[strong Range:] 0.2 V/Div
			#[br/]#[strong Resolution freq.:] 46.875 Hz

div(style="page-break-before:always")
p.
	Με τον ίδιο τρόπο, χρησιμοποιείται το εργαλείο spectrum analyzer (XSA2) για να εξαχθεί το φάσμα εξόδου. Το διάγραμμα και οι επιλεγμένες τιμές του εργαλείου φαίνονται παρακάτω:

figure.block-center.width-17cm
	img(src="3_band_elimination/assets/diagrams/multisim_band_elimination_chebyshev_spectrum_analyzer_output.svg").width-17cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Φάσμα σήματος εξόδου, έξοδος spectrum analyzer-XSA2 από Multisim.
		.caption.
			Οι επιλογές του spectrum analyzer που χρησιμοποιήθηκαν:
			#[br/]#[strong Frequency:] #[strong Span:] 12 kHz, #[strong Start:] 0 Hz, #[strong Center:] 6 kHz και #[strong End:] 12 kHz
			#[br/]#[strong Amplitude:] #[strong lin] και #[strong Range:] 0.2 V/Div
			#[br/]#[strong Resolution freq.:] 46.875 Hz

p.
	Τα δύο παραπάνω διαγράμματα συνδυάστηκαν σε ένα για ευκολότερη εξαγωγή συμπερασμάτων:

figure.block-center.width-17cm
	img(src="3_band_elimination/assets/diagrams/multisim_band_elimination_chebyshev_spectrum_analyzer_combined_input_output.svg").width-17cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Φάσματα σημάτων εισόδου και εξόδου, εξόδου spectrum analyzers-XSA1 και XSA2 από Multisim.

p.
	Από τα παραπάνω διαγράμματα συμπεραίνουμε καταρχάς ότι η ανάλυση του φίλτρου που έγινε στο Matlab συμφωνεί με αυτή που έγινε στο Multisim. Το συμπέρασμα αυτό προέρχεται από το γεγονός ότι τα φάσματα εισόδου και εξόδου του σήματος εισόδου και εξόδου του φίλτρου είναι ίδια στα δύο πειράματα.
p.
	Επίσης από τα φάσματα και κυρίως από το τελευταίο διάγραμμα (4.3.12) γίνεται εύκολα αντιληπτό ότι το κύκλωμα που σχεδιάστηκε υλοποιεί επιτυχώς το επιθυμητό ζωνοφρακτικό φίλτρο.
p.
	Πιο συγκεκριμένα παρατηρείται ότι στο φάσμα εξόδου εμφανίζονται όλες οι συχνότητες του φάσματος εισόδου εκτός από εκείνες που ανήκουν στη ζώνη αποκοπής του φίλτρου. Ταυτόχρονα, οι συχνότητες της ζώνης διόδου δεν υπέστησαν καμία αλλαγή στο πλάτος, δείχνοντας ότι το φίλτρο δεν εισάγει απόσβεση ή κέρδος στις συχνότητες αυτές. Το τελευταίο αποδεικνύει ότι η επιθυμητή ρύθμιση κέρδους στα 0 dB ήταν επιτυχής.
