div(style="page-break-before:always")
h3 Σχεδίαση φίλτρου
p.
	Για τη σχεδίαση του φίλτρου ακολουθήθηκε η διαδικασία που περιγράφεται στο κεφάλαιο 13 των σημειώσεων του μαθήματος:

figure.block-center.width-15cm
	div.ui.list.ordered.celled.striped
		div.item Υπολογισμός των προδιαγραφών ενός πρωτότυπου κατωδιαβατού Chebyshev φίλτρου, μέσω των προδιαγραφών του επιθυμητού ζωνοφρακτικού φίλτρου.
		div.item Υπολογισμός της τάξης και της συχνότητας ημίσειας ισχύος του πρωτότυπου φίλτρου.
		div.item Αντιστροφή της συνάρτησης μεταφοράς (T#[sub LP] → T#[sub HP]) και εύρεση των πόλων ενός πρωτότυπου ανωδιαβατού φίλτρου.
		div.item Υπολογισμός των πόλων του πρότυπου φίλτρου Chebyshev.
		div.item Υπολογισμός των πόλων και μηδενικών του ζωνοφρακτικού φίλτρου μέσω μετασχηματισμού των πόλων του πρωτότυπου ανωδιαβατού με χρήση του αλγόριθμου Geffe.
		div.item Ομαδοποίηση των ζευγών συζυγών μιγαδικών πόλων και φανταστικών μηδενικών ανά δύο. Από την ομαδοποίηση προκύπτουν ζωνοφρακτικές μονάδες που υλοποιούνται με κυκλώματα Notch, LPN, HPN ανάλογα με τη σχετική θέση πόλων-μηδενικών.
		div.item Υλοποίηση των φίλτρων Notch με βάση τα κυκλώματα του κεφαλαίου 7.
		div.item Κλιμακοποίηση του κυκλώματος με στόχο τη μεταφορά στις πραγματικές συχνότητες και σε στοιχεία με πρακτικές (υλοποιήσιμες) τιμές.
		div.item Έλεγχος των κερδών των μονάδων και ρύθμιση κέρδους με επιβολή απόσβεσης ή ενίσχυσης.

h4 Υπολογισμός συνάρτησης μεταφοράς

p Αρχικά υπολογίζεται η κεντρική συχνότητα χρησιμοποιώντας την εξίσωση #[span.course-notes-equation 13-2]:

p.latex-equation.
	$$\omega_0 = \sqrt{\omega_1\omega_2}=\sqrt{12252.211*20138.414}=15707.963\frac{\text{rad}}{\text{s}}$$

p.
	Η κεντρική συχνότητα που υπολογίστηκε προκύπτει ίση με αυτή που δίνεται στην εκφώνηση, επιβεβαιώνεται έτσι ότι οι συχνότητες ω#[sub 1] - ω#[sub 4] υπολογίστηκαν σωστά.

p.
	Υπολογίζεται το εύρος ζώνης διόδου χρησιμοποιώντας την εξίσωση #[span.course-notes-equation 13-1]:

p.latex-equation.
	$$bw = \omega_2-\omega_1=20138.414-12252.211=7886.203\frac{\text{rad}}{\text{s}}$$

p.
	Σχεδιάζεται ένα πρότυπο κατωδιαβατό Chebyshev φίλτρο, το οποίο αργότερα θα μετατραπεί στο πρωτότυπο ανωδιαβατό.

p Υπολογίζονται οι προδιαγραφές του πρωτότυπου κατωδιαβατού χρησιμοποιώντας τις εξισώσεις #[span.course-notes-equation 13-9]:

p.latex-equation.
	$$\Omega_p = 1\frac{rad}{s}$$
	και $$\Omega_S = \frac{\omega_2-\omega_1}{\omega_4-\omega_3} = \frac{7886.203}{3154.481} = 2.5\frac{rad}{s}$$

p Οι προδιαγραφές απόσβεσης παραμένουν ίδιες.

p Υπολογίζεται η τάξη του φίλτρου χρησιμοποιώντας την εξίσωση #[span.course-notes-equation 9-83]:

p.latex-equation.
	$$n = \left \lceil \frac{\cosh^{-1}\bigg(\sqrt{\frac{10^{\frac{a_{min}}{10}}-1}{10^{\frac{a_{max}}{10}}-1}}\bigg)}{\cosh^{-1}\Omega_S} \right \rceil = \left \lceil \frac{\cosh^{-1}\bigg(\sqrt{\frac{10^{2.933}-1}{10^{0.05556}-1}}\bigg)}{\cosh^{-1}(2.2)} \right \rceil = \left \lceil \frac{5.06549}{1.5668} \right \rceil = \left \lceil 3.233 \right \rceil = 4$$

p.
	Από τον παραπάνω τύπο φαίνεται ότι κατά τον υπολογισμό της τάξης του φίλτρου γίνεται στρογγυλοποίηση της τάξης προς τον επόμενο #[strong μεγαλύτερο] ακέραιο. Αυτό γίνεται επειδή δεν είναι δυνατή η υλοποίηση ενός φίλτρου ρητής τάξεως, έτσι είναι απαραίτητο η τάξη να στρογγυλοποιηθεί. Η στρογγυλοποίηση είναι σημαντικό να γίνει προς τα επάνω (ceiling) ώστε να επιτευχθούν οι προδιαγραφές του φίλτρου. Μία πιθανή στρογγυλοποίηση προς τα κάτω θα είχε ως αποτέλεσμα την αποτυχία στη σχεδίαση.

p.
	Λόγω της στρογγυλοποίησης αυτής, αναμένεται μάλιστα να υπάρχει υπερκάλυψη σε τουλάχιστον μία από τις προδιαγραφές. Στη συγκεκριμένη περίπτωση, λόγω της επιλογής κανονικοποίησης ως προς το pass band, αναμένεται να υπάρχει υπερκάλυψη της προδιαγραφής a#[sub max].

p.
	Στη συνέχεια υπολογίζονται οι παράμετροι ε και α από τις εξισώσεις #[span.course-notes-equation 9-76] και #[span.course-notes-equation 9-92] αντίστοιχα:

p.latex-equation.
	$$\varepsilon = \sqrt{10^{\frac{a_{max}}{10}}-1} = \sqrt{10^{0.05556}-1} = 0.369$$
p.latex-equation.
	$$\alpha = \frac{\sinh^{-1}(\frac{1}{\varepsilon})}{n} = \frac{\sinh^{-1}(\frac{1}{0.369})}{4} = 0.43$$

p.
	Υπολογίζεται η κανονικοποιημένη συχνότητα ημίσειας ισχύος χρησιμοποιώντας την εξίσωση #[span.course-notes-equation 9-80]:

p.latex-equation.
	$$\Omega_{hp} = cosh(\frac{1}{n}cosh^{-1}(\frac{1}{\varepsilon})) = cosh(\frac{1}{4}cosh^{-1}(\frac{1}{0.369})) = 1.087\frac{rad}{s}$$

p Οι πραγματικές συχνότητες προκύπτουν μετασχηματίζοντας την κανονικοποιημένη, χρησιμοποιώντας την εξίσωση #[span.course-notes-equation 13-4]:

p.latex-equation.
	$$\begin{matrix} \Omega_{hp}=bw\frac{\omega}{\omega_0^2-\omega^2} \Rightarrow \\[1.1em] \omega^2+\frac{bw}{\Omega_{hp}}\omega-\omega_0^2 = 0 \Rightarrow \\[1.1em] \omega^2-\frac{7886.203}{1.087}\omega-(15707.963)^2 = 0 \Rightarrow \left\{\begin{matrix} \omega_1 = 12492.86\frac{rad}{s} \\[1.1em] \omega_2 = 19750.49\frac{rad}{s} \end{matrix}\right. \end{matrix}$$

p.
	Οι γωνίες Butterworth μπορούν να υπολογιστούν με βάση τον αλγόριθμο Guillemin ή να βρεθούν απευθείας από γνωστούς πίνακες γωνιών Butterworth. Για φίλτρο τέταρτης τάξης, οι γωνίες είναι:

p.latex-equation.
	$$\pm 22.5^\circ$$ και $$\pm 67.5^\circ$$

p.
	Με βάση τις εξισώσεις #[span.course-notes-equation 9-102] και #[span.course-notes-equation 9-103]:

p.latex-equation.
	$$\sigma_k = -\sinh(\alpha)*\cos(\theta)$$
	$$\Omega_k = \cosh(\alpha)*\sin(\theta)$$

p προκύπτουν οι πόλοι Chebyshev του #[strong πρωτότυπου κατωδιαβατού φίλτρου]:

p.latex-equation.
	$$\text{Pole 1: } -0.41\pm0.419\mathrm{i}$$
	$$\text{Pole 2: } -0.17\pm1.011\mathrm{i}$$

p.
	Χρησιμοποιώντας τις εξισώσεις #[span.course-notes-equation 9-106]:

p.latex-equation.
	$$\Omega_{0_k} = \sqrt{\sigma_k^2+\Omega_k^2}$$
	$$Q_k = \frac{\Omega_{0_k}}{2*\sigma_k}$$

p υπολογίζονται τα Ω#[sub 0] και Q των πόλων αντίστοιχα:

p.latex-equation.
	$$\text{Pole 1: } \Omega_0 = 0.586 \text{, }Q = 0.715$$
	$$\text{Pole 2: } \Omega_0 = 1.025 \text{, }Q = 3.018$$

p.
	Οι πόλοι αντιστρέφονται χρησιμοποιώντας την εξίσωση #[span.course-notes-equation 13-14b] για τον υπολογισμό των Ω#[sub 0#[sub k]], ενώ τα Q παραμένουν ίδια:

p.latex-equation.
	$$\widehat{\Omega_{0_k}} = \frac{1}{\Omega_{0_k}}$$

p.
	Από τον μετασχηματισμό προκύπτουν οι πόλοι του #[strong ανωδιαβατού Chebyshev]:

p.latex-equation.
	$$\text{Pole 1: } -1.194\pm1.219i\text{, }\widehat{\Omega_0} = 1.707 \text{, }Q = 0.715\text{, }\pm45.60°$$
	$$\text{Pole 2: } -0.162\pm0.962i\text{, }\widehat{\Omega_0} = 0.976 \text{, }Q = 3.018\text{, }\pm80.46°$$

p.
	Οι πόλοι μετασχηματίζονται χρησιμοποιώντας τον αλγόριθμο Geffe. Κάθε ζεύγος μιγαδικών πόλων παράγει, κατά τον μετασχηματισμό, δύο νέα ζεύγη μιγαδικών πόλων με ίδιο Q και διαφορετικά ω. Οι απαραίτητες παράμετροι υπολογίζονται χρησιμοποιώντας τις εξισώσεις #[span.course-notes-equation 11-6], #[span.course-notes-equation 11-28] έως και #[span.course-notes-equation 11-35], #[span.course-notes-equation 11-37b]:

p.latex-equation.
	$$\begin{matrix} 11-6: & q_c=\frac{\omega_0}{bw}\\[0.6em]  11-28: & C=\Sigma_2^2+\Omega_2^2\\[0.6em]  11-29: & D=\frac{2\Sigma_2}{q_c}\\[0.6em]  11-30: & E=4+\frac{C}{q_c^2}\\[0.6em]  11-31: & G=\sqrt{E^2-4D^2}\\[0.6em]  11-32: & Q=\frac{1}{D}\sqrt{\frac{1}{2}(E+G)}\\[0.6em]  11-33: & k=\frac{\Sigma_2Q}{q_c}\\[0.6em]  11-34: & W=k+\sqrt{k^2-1}\\[0.6em]  11-35: & \omega_{02}=W\omega_0 \hspace{3mm} \& \hspace{3mm} \omega_{01}=\frac{\omega_0}{W}\\[0.6em]  11-37b: & \psi_{ki}=\cos^{-1}(\frac{1}{2Q}) \end{matrix}$$

p.
	Στον παρακάτω πίνακα φαίνονται οι τιμές των παραμέτρων του αλγόριθμου Geffe για κάθε πόλο του πρωτότυπου φίλτρου, καθώς και οι μετασχηματισμένοι πόλοι που προκύπτουν:

figure.block-center.width-15cm
	table.ui.celled.table.teal.striped.center.aligned
		thead
			tr
				th Παράμετρος
				th Pole 1
				th Pole 2
		tbody
			tr
				td q#[sub c]
				td 1.9918
				td 1.9918
			tr
				td C
				td 2.9122
				td 0.9519
			tr
				td D
				td 1.1989
				td 0.1623
			tr
				td E
				td 4.734
				td 4.2399
			tr
				td G
				td 4.0819
				td 4.2275
			tr
				td Q
				td 1.7512
				td 12.6756
			tr
				td k
				td 1.0498
				td 1.0288
			tr
				td W
				td 1.3691
				td 1.2705
			tr
				td ω
				td.
					ω#[sub 01] = 21506
					#[br]
					ω#[sub 02] = 11473
				td.
					ω#[sub 03] = 19957
					#[br]
					ω#[sub 04] = 12363
			tr
				td ψ#[sub ki]
				td ±73.41°
				td ±87.74°
	figcaption
		.reference #[span.table-count]
		.caption.
			Τιμές παραμέτρων αλγόριθμου Geffe

p.
	Επομένως από τον μετασχηματισμό προκύπτουν οι πόλοι του #[strong ζωνοδιαβατού Chebyshev]:

p.latex-equation.
	$$\text{Pole 1: } \omega_0 = 21505.945 \text{, }Q = 1.751$$
	$$\text{Pole 2: } \omega_0 = 11473.112 \text{, }Q = 1.751$$
	$$\text{Pole 3: } \omega_0 = 19957.291 \text{, }Q = 12.676$$
	$$\text{Pole 4: } \omega_0 = 12363.407 \text{, }Q = 12.676$$

p.
	Κατά τον μετασχηματισμό προκύπτουν επίσης, με βάση την εξίσωση:

p.latex-equation.
	$$z_k = 0\pm\omega_0\mathrm{i} \text{,}\hspace{2mm} k=1,2,...,n$$

p.
	τα φανταστικά συζηγή μηδενικά της συνάρτησης μεταφοράς:

p.latex-equation.
	$$\text{Zero 1: } 0\pm15707.963\mathrm{i}$$
	$$\text{Zero 2: } 0\pm15707.963\mathrm{i}$$
	$$\text{Zero 3: } 0\pm15707.963\mathrm{i}$$
	$$\text{Zero 4: } 0\pm15707.963\mathrm{i}$$

p.
	Οι πόλοι και τα μηδενικά του φίλτρου φαίνονται στο παρακάτω διάγραμμα:

figure.block-center.width-19cm
	img(src="3_band_elimination/assets/diagrams/matlab_band_elimination_chebyshev_zero_pole.svg").width-19cm
	figcaption
		.reference #[span.plot-count]
		.title.
			Πόλοι και μηδενικά του Chebyshev.
		.caption.
			Παρατηρείται ότι τα ζεύγη μιγαδικών πόλων έχουν, ανά δύο, το ίδιο Q (ίδια γωνία).

div(style="page-break-before:always")
p.
	Οι πόλοι και τα μηδενικά ομαδοποιούνται όπως φαίνεται στο παρακάτω διάγραμμα:

figure.block-center
	.ui.grid
		.four.wide.column
			.row
				img(src="3_band_elimination/assets/diagrams/band_elimination_chebyshev_unit_1_zero_pole_grouping.svg")/
			.row.top-7mm
				img(src="3_band_elimination/assets/diagrams/band_elimination_unit_1_block_diagram.svg")/
			.row.top-5mm
				p.center #[strong Unit 1]
		.four.wide.column
			.row
				img(src="3_band_elimination/assets/diagrams/band_elimination_chebyshev_unit_2_zero_pole_grouping.svg")/
			.row.top-7mm
				img(src="3_band_elimination/assets/diagrams/band_elimination_unit_2_block_diagram.svg")/
			.row.top-5mm
				p.center #[strong Unit 2]
		.four.wide.column
			.row
				img(src="3_band_elimination/assets/diagrams/band_elimination_chebyshev_unit_3_zero_pole_grouping.svg")/
			.row.top-7mm
				img(src="3_band_elimination/assets/diagrams/band_elimination_unit_3_block_diagram.svg")/
			.row.top-5mm
				p.center #[strong Unit 3]
		.four.wide.column
			.row
				img(src="3_band_elimination/assets/diagrams/band_elimination_chebyshev_unit_4_zero_pole_grouping.svg")/
			.row.top-7mm
				img(src="3_band_elimination/assets/diagrams/band_elimination_unit_4_block_diagram.svg")/
			.row.top-5mm
				p.center #[strong Unit 4]
	figcaption
		.reference #[span.plot-count]
		.caption.
			Ομαδοποίηση πόλων-μηδενικών

h4 Υλοποίηση συνάρτησης μεταφοράς

p.
	Από τον αριθμό ΑΕΜ (8261) υποδεικνύεται η χρήση των κυκλωμάτων high pass notch και low pass notch του κεφαλαίου 7, με χρήση των κυκλωμάτων των σχημάτων 7.21 και 7.23.

h5 Μονάδα 1

p Η πρώτη μονάδα μονάδα του φίλτρου είναι το πρώτο από τα δύο high pass notch δεύτερης τάξης που πρέπει να υλοποιηθούν. Για τη μονάδα ισχύουν:

figure.block-center.width-15cm
	table.ui.celled.table.teal.striped.center.aligned
		thead
			tr
				th Προδιαγραφή
				th Τιμή
		tbody
			tr
				td ω#[sub 0]
				td 21505.945
			tr
				td ω#[sub Z]
				td 15707.963
			tr
				td ω#[sub Z]<ω#[sub 0]
				td #[i.large.teal.checkmark.icon]
			tr
				td Q
				td 1.751
	figcaption
		.reference #[span.table-count]
		.caption.
			Προδιαγραφές μονάδας 1 (πρώτη μονάδα high pass notch)
p.
	Γίνεται κανονικοποίηση των συχνοτήτων ως προς το ω#[sub 0], ώστε Ω#[sub 0]=1:

p.latex-equation.
	$$\Omega_Z = \frac{\omega_Z}{\omega_0} = \frac{15707.963}{21505.945} = 0.7304<1$$

p.
	Υπολογίζονται τα κέρδη και οι τιμές των στοιχείων του κυκλώματος του φίλτρου, με χρήση της μεθοδολογίας που περιγράφεται στο κεφάλαιο 7.6-B (σελίδα 35) και των εξισώσεων #[span.course-notes-equation 7-135] εώς και #[span.course-notes-equation 7-140]:

p.latex-equation.
	$$k_1=\frac{\Omega_0^2}{\Omega_z^2}-1 = \frac{1}{0.7304^2}-1 = 0.8745$$

p.latex-equation.
	$$k_2=\frac{(2+k_1)Q^2}{(2+k_1)Q^2+1} = \frac{(2+0.8745)1.751^2}{(2+0.8745)1.751^2+1} = 0.8981$$

p.latex-equation.
	$$k=k_2\frac{\Omega_0^2}{\Omega_z^2} = 0.8981\frac{1}{0.7304^2} = 1.6835\hspace{1cm}\text{(Gain at high frequencies)}$$

p.latex-equation.
	$$R_1 = 1\text{ Ohm}$$

p.latex-equation.
	$$R_2 = Q^2(k_1+2)^2 = 1.751^2(0.8745+2)^2 = 25.3394\text{ Ohm}$$

p.latex-equation.
	$$R_3 = 1\text{ Ohm}$$

p.latex-equation.
	$$R_4 = Q^2(k_1+2) = 1.751^2(0.8745+2) = 8.8154\text{ Ohm}$$

br/

p.latex-equation.
	$$C = \frac{1}{Q(2+k_1)} = \frac{1}{1.751(2+0.8745)} = 0.1987\text{ F}$$

p.latex-equation.
	$$C_1 = k_1C = 0.8745*0.1987 = 0.1737\text{ F}$$

p #[strong Κλιμακοποίηση]

p.
	Γίνεται κλιμακoποίηση των στοιχείων της μονάδας για να μεταφερθούν οι συχνότητες στις πραγματικές τιμές.

p.latex-equation.
	$$k_{f} = \omega_0 = 21505.945$$

p.
	Με βάση τον αριθμό ΑΕΜ (8261) επιλέγεται κατάλληλος συντελεστής κλιμακοποίησης πλάτους ώστε να επιτευχθεί τιμή πυκνωτών ίση με 0.1μF, γίνεται χρήση του τύπου #[span.course-notes-equation 6-33]:

p.latex-equation.
	$$k_{m} = \frac{C_{old}}{k_fC_{new}} = \frac{0.1987}{21505.945*0.1*10^{-6}} = 92.3725$$

p Οι τελικές τιμές των στοιχείων φαίνονται στον παρακάτω πίνακα:

figure.block-center.width-15cm
	table.ui.celled.table.teal.striped.center.aligned
		thead
			tr
				th Στοιχείο/Κέρδος
				th(colspan="2") Τιμή
		tbody
			tr
				td C
				td(colspan="2") 0,1 μF
			tr
				td C#[sub 1]
				td(colspan="2") 0.08745 μF
			tr
				td R#[sub 1]
				td(colspan="2") 92.3725 Ohm
			tr
				td R#[sub 2]
				td(colspan="2") 2340.7 Ohm
			tr
				td R#[sub 3]
				td(colspan="2") 92.3725 Ohm
			tr
				td R#[sub 4]
				td(colspan="2") 814.2974 Ohm
			tr
				td Κέρδος στις υψηλές συχνότητες
				td 1.6835
				td 4.52 dB
	figcaption
		.reference #[span.table-count]
		.caption.
			Οι τιμές των στοιχείων της πρώτης μονάδας και το κέρδος στις υψηλές συχνότητες

p.
	Η συνάρτηση μεταφοράς της μονάδας υπολογίζεται χρησιμοποιώντας τις εξισώσεις #[span.course-notes-equation 7-129], #[span.course-notes-equation 7-130] και #[span.course-notes-equation 7-131]:

p.latex-equation.
	$$\begin{align*}
	T_{BE}^1(s) &= k\frac{s^2+\frac{1}{(k_1+1)R_1R_2C^2}}{s^2+\frac{k_1+2}{R_2C}s+\frac{1}{R_1R_2C^2}} \\[3.5mm]
	&=1.6835\frac{s^2+\frac{1}{(0.8745+1)*92.3725*2340.7*(0.1*10^{-6})^2}}{s^2+\frac{0.8745+2}{2340.7*0.1*10^{-6}}s+\frac{1}{92.6725*2340.7*(0.1*10^{-6})^2}} \\[3.5mm]
	&=\frac{1.6835s^2+4.154*10^8}{s^2+12280.5s+4.625*10^8}
	\end{align*}$$

h5 Μονάδα 2

p Η δεύτερη μονάδα μονάδα του φίλτρου είναι το πρώτο από τα δύο low pass notch δεύτερης τάξης που πρέπει να υλοποιηθούν. Για τη μονάδα ισχύουν:

figure.block-center.width-15cm
	table.ui.celled.table.teal.striped.center.aligned
		thead
			tr
				th Προδιαγραφή
				th Τιμή
		tbody
			tr
				td ω#[sub 0]
				td 11473.112
			tr
				td ω#[sub Z]
				td 15707.963
			tr
				td ω#[sub Z]>ω#[sub 0]
				td #[i.large.teal.checkmark.icon]
			tr
				td Q
				td 1.751
	figcaption
		.reference #[span.table-count]
		.caption.
			Προδιαγραφές μονάδας 2 (πρώτη μονάδα low pass notch)

p.
	Γίνεται κανονικοποίηση των συχνοτήτων ως προς το ω#[sub 0], ώστε Ω#[sub 0]=1:

p.latex-equation.
	$$\Omega_Z = \frac{\omega_Z}{\omega_0} = \frac{15707.963}{11473.112} = 1.3691>1$$

p.
	Υπολογίζονται τα στοιχεία του κυκλώματος του φίλτρου, με χρήση της μεθοδολογίας που περιγράφεται στο κεφάλαιο 7.6-B (σελίδα 35) και των εξισώσεων #[span.course-notes-equation 7-150], #[span.course-notes-equation 7-152], #[span.course-notes-equation 7-155]:

p.latex-equation.
	$$C = \frac{1}{2Q} = \frac{1}{2*1.751} = 0.2855\text{ F}$$

p.latex-equation.
	$$R_2 = 4Q^2 = 4*1.751^2 = 12.2671\text{ Ohm}$$

p.latex-equation.
	$$R_5 = \frac{4Q^2}{\Omega_Z^2-1} = \frac{4*1.751^2}{1.3691^2-1} = 14.0282\text{ Ohm}$$

p.latex-equation.
	$$R_3 = \frac{\Omega_Z^2}{2Q^2} = \frac{1.3691^2}{2*1.751^2} = 0.3056\text{ Ohm}$$

p.latex-equation.
	$$R_1 = R_4 = 1\text{ Ohm}$$

p.
	Υπολογίζεται το κέρδος της μονάδας στις υψηλές συχνότητες, χρησιμοποιώντας την εξίσωση #[span.course-notes-equation 7-143]:

p.latex-equation.
	$$k_{high} = \frac{R_4}{R_3+R_4} = \frac{1}{0.3056+1} = 0.7659$$

p.
	Υπολογίζεται το κέρδος της μονάδας στις χαμηλές συχνότητες, χρησιμοποιώντας τις εξισώσεις #[span.course-notes-equation 7-146], #[span.course-notes-equation 7-147] και #[span.course-notes-equation 7-148], θέτοντας s=0:

p.latex-equation.
	$$k_{low} = k_{high}\Omega_Z^2 = 0.7659*1.3691^2 = 1.4357$$

p #[strong Κλιμακοποίηση]

p.
	Γίνεται κλιμακoποίηση των στοιχείων της μονάδας για να μεταφερθούν οι συχνότητες στις πραγματικές τιμές. Επιλέγεται:

p.latex-equation.
	$$k_{f} = \omega_0 = 11473.112$$

p.
	Με βάση τον αριθμό ΑΕΜ (8261) επιλέγεται κατάλληλος συντελεστής κλιμακοποίησης πλάτους ώστε να επιτευχθεί τιμή πυκνωτών ίση με 0.1μF, γίνεται χρήση του τύπου #[span.course-notes-equation 6-33]:

p.latex-equation.
	$$k_{m} = \frac{C_{old}}{k_fC_{new}} = \frac{0.2855}{11473.112*0.1*10^{-6}} = 248.8555$$

p Οι τελικές τιμές των στοιχείων φαίνονται στον παρακάτω πίνακα:

figure.block-center.width-15cm
	table.ui.celled.table.teal.striped.center.aligned
		thead
			tr
				th Στοιχείο/Κέρδος
				th(colspan="2") Τιμή
		tbody
			tr
				td C
				td(colspan="2") 0,1 μF
			tr
				td R#[sub 1]
				td(colspan="2") 248.8555 Ohm
			tr
				td R#[sub 2]
				td(colspan="2") 3052.7 Ohm
			tr
				td R#[sub 3]
				td(colspan="2") 76.0521 Ohm
			tr
				td R#[sub 4]
				td(colspan="2") 248.8555 Ohm
			tr
				td R#[sub 5]
				td(colspan="2") 3491 Ohm
			tr
				td Κέρδος στις υψηλές συχνότητες
				td 0.7659
				td -2.316 dB
			tr
				td Κέρδος στις χαμηλές συχνότητες
				td 1.4357
				td 3.14 dB
	figcaption
		.reference #[span.table-count]
		.caption.
			Τιμές των στοιχείων της δεύτερης μονάδας και κέρδη στις υψηλές και χαμηλές συχνότητες

div(style="page-break-before:always")
p.
	Η συνάρτηση μεταφοράς της μονάδας υπολογίζεται χρησιμοποιώντας τις εξισώσεις #[span.course-notes-equation 7-146], #[span.course-notes-equation 7-147] και #[span.course-notes-equation 7-148]:

p.latex-equation.
	$$\begin{align*}
	T_{BE}^2(s) &= k_{high}\frac{s^2+\big[\frac{1}{R_1R_5C^2}+\frac{1}{R_1R_2C^2}\big]}{s^2+\frac{2}{R_2C}s+\frac{1}{R_1R_2C^2}}= \\[3.5mm]
	&=0.7659\frac{s^2+\big[\frac{1}{248.8555*3491*(0.1*10^{-6})^2}+\frac{1}{248.8555*3052.7*(0.1*10^{-6})^2}\big]}{s^2+\frac{2}{3052.7*0.1*10^{-6}}s+\frac{1}{248.8555*3052.7*(0.1*10^{-6})^2}} = \\[3.5mm]
	&=\frac{0.7659s^2+1.89*10^8}{s^2+6551s+1.316*10^8} 
	\end{align*}$$

h5 Μονάδα 3

p Η τρίτη μονάδα μονάδα του φίλτρου είναι το δεύτερο από τα δύο high pass notch δεύτερης τάξης που πρέπει να υλοποιηθούν. Για τη μονάδα ισχύουν:

figure.block-center.width-15cm
	table.ui.celled.table.teal.striped.center.aligned
		thead
			tr
				th Προδιαγραφή
				th Τιμή
		tbody
			tr
				td ω#[sub 0]
				td 19957.291
			tr
				td ω#[sub Z]
				td 15707.963
			tr
				td ω#[sub Z]<ω#[sub 0]
				td #[i.large.teal.checkmark.icon]
			tr
				td Q
				td 12.676
	figcaption
		.reference #[span.table-count]
		.caption.
			Προδιαγραφές μονάδας 3 (δεύτερη μονάδα high pass notch)
p.
	Γίνεται κανονικοποίηση των συχνοτήτων ως προς το ω#[sub 0], ώστε Ω#[sub 0]=1:

p.latex-equation.
	$$\Omega_Z = \frac{\omega_Z}{\omega_0} = \frac{15707.963}{19957.291} = 0.7871<1$$

p.
	Υπολογίζονται τα κέρδη και οι τιμές των στοιχείων του κυκλώματος του φίλτρου, με χρήση της μεθοδολογίας που περιγράφεται στο κεφάλαιο 7.6-B (σελίδα 35) και των εξισώσεων #[span.course-notes-equation 7-135] εώς και #[span.course-notes-equation 7-140]:

p.latex-equation.
	$$k_1=\frac{\Omega_0^2}{\Omega_z^2}-1 = \frac{1}{0.7871^2}-1 = 0.6142$$

p.latex-equation.
	$$k_2=\frac{(2+k_1)Q^2}{(2+k_1)Q^2+1} = \frac{(2+0.6142)12.676^2}{(2+0.6142)12.676^2+1} = 0.9976$$

div(style="page-break-before:always")
p.latex-equation.
	$$k=k_2\frac{\Omega_0^2}{\Omega_z^2} = 0.9976\frac{1}{0.7871^2} = 1.6104\hspace{1cm}\text{(Gain at high frequencies)}$$

p.latex-equation.
	$$R_1 = 1\text{ Ohm}$$

p.latex-equation.
	$$R_2 = Q^2(k_1+2)^2 = 12.676^2(0.6142+2)^2 = 1098\text{ Ohm}$$

p.latex-equation.
	$$R_3 = 1\text{ Ohm}$$

p.latex-equation.
	$$R_4 = Q^2(k_1+2) = 12.676^2(0.6142+2) = 420.0291\text{ Ohm}$$

p.latex-equation.
	$$C = \frac{1}{Q(2+k_1)} = \frac{1}{12.676(2+0.6142)} = 0.0302\text{ F}$$

p.latex-equation.
	$$C_1 = k_1C = 0.6142*0.0302 = 0.0185\text{ F}$$

p #[strong Κλιμακοποίηση]

p.
	Γίνεται κλιμακoποίηση των στοιχείων της μονάδας για να μεταφερθούν οι συχνότητες στις πραγματικές τιμές. Επιλέγεται:

p.latex-equation.
	$$k_{f} = \omega_0 = 19957.291$$

p.
	Με βάση τον αριθμό ΑΕΜ (8261) επιλέγεται κατάλληλος συντελεστής κλιμακοποίησης πλάτους ώστε να επιτευχθεί τιμή πυκνωτών ίση με 0.1μF, γίνεται χρήση του τύπου #[span.course-notes-equation 6-33]:

p.latex-equation.
	$$k_{m} = \frac{C_{old}}{k_fC_{new}} = \frac{0.0302}{19957.291*0.1*10^{-6}} = 15.1212$$

p Οι τελικές τιμές των στοιχείων φαίνονται στον παρακάτω πίνακα:

figure.block-center.width-15cm
	table.ui.celled.table.teal.striped.center.aligned
		thead
			tr
				th Στοιχείο/Κέρδος
				th(colspan="2") Τιμή
		tbody
			tr
				td C
				td(colspan="2") 0,1 μF
			tr
				td C#[sub 1]
				td(colspan="2") 0.06142 μF
			tr
				td R#[sub 1]
				td(colspan="2") 15.1212 Ohm
			tr
				td R#[sub 2]
				td(colspan="2") 16604 Ohm
			tr
				td R#[sub 3]
				td(colspan="2") 15.1212 Ohm
			tr
				td R#[sub 4]
				td(colspan="2") 6351.4 Ohm
			tr
				td Κέρδος στις υψηλές συχνότητες
				td 1.6104
				td 4.14 dB
	figcaption
		.reference #[span.table-count]
		.caption.
			Οι τιμές των στοιχείων της τρίτης μονάδας και το κέρδος στις υψηλές συχνότητες

p.
	Η συνάρτηση μεταφοράς της μονάδας υπολογίζεται χρησιμοποιώντας τις εξισώσεις #[span.course-notes-equation 7-129], #[span.course-notes-equation 7-130] και #[span.course-notes-equation 7-131]:

p.latex-equation.
	$$\begin{align*}
	T_{BE}^3(s) &= k\frac{s^2+\frac{1}{(k_1+1)R_1R_2C^2}}{s^2+\frac{k_1+2}{R_2C}s+\frac{1}{R_1R_2C^2}} \\[3.5mm]
	&=1.6104\frac{s^2+\frac{1}{(0.6142+1)*15.1212*16604*(0.1*10^{-6})^2}}{s^2+\frac{0.6142+2}{16604*0.1*10^{-6}}s+\frac{1}{15.1212*16604*(0.1*10^{-6})^2}} \\[3.5mm]
	&=\frac{1.6104s^2+3.973*10^8}{s^2+1574.4s+3.983*10^8}
	\end{align*}$$

h5 Μονάδα 4

p Η τέταρτη μονάδα μονάδα του φίλτρου είναι το δεύτερο από τα δύο low pass notch δεύτερης τάξης που πρέπει να υλοποιηθούν. Για τη μονάδα ισχύουν:

figure.block-center.width-15cm
	table.ui.celled.table.teal.striped.center.aligned
		thead
			tr
				th Προδιαγραφή
				th Τιμή
		tbody
			tr
				td ω#[sub 0]
				td  12363.407
			tr
				td ω#[sub Z]
				td 15707.963
			tr
				td ω#[sub Z]>ω#[sub 0]
				td #[i.large.teal.checkmark.icon]
			tr
				td Q
				td  12.676
	figcaption
		.reference #[span.table-count]
		.caption.
			Προδιαγραφές μονάδας 4 (δεύτερη μονάδα low pass notch)

div(style="page-break-before:always")
p.
	Γίνεται κανονικοποίηση των συχνοτήτων ως προς το ω#[sub 0], ώστε Ω#[sub 0]=1:

p.latex-equation.
	$$\Omega_Z = \frac{\omega_Z}{\omega_0} = \frac{15707.963}{ 12363.407} = 1.2705>1$$

p.
	Υπολογίζονται τα στοιχεία του κυκλώματος του φίλτρου, με χρήση της μεθοδολογίας που περιγράφεται στο κεφάλαιο 7.6-B (σελίδα 35) και των εξισώσεων #[span.course-notes-equation 7-150], #[span.course-notes-equation 7-152], #[span.course-notes-equation 7-155]:

p.latex-equation.
	$$C = \frac{1}{2Q} = \frac{1}{2* 12.676} = 0.0394\text{ F}$$

p.latex-equation.
	$$R_2 = 4Q^2 = 4* 12.676^2 = 642.7\text{ Ohm}$$

p.latex-equation.
	$$R_5 = \frac{4Q^2}{\Omega_Z^2-1} = \frac{4* 12.676^2}{1.2705^2-1} = 1046.3\text{ Ohm}$$

p.latex-equation.
	$$R_3 = \frac{\Omega_Z^2}{2Q^2} = \frac{1.2705^2}{2* 12.676^2} = 0.0050\text{ Ohm}$$

p.latex-equation.
	$$R_1 = R_4 = 1\text{ Ohm}$$

p.
	Υπολογίζεται το κέρδος της μονάδας στις υψηλές συχνότητες, χρησιμοποιώντας την εξίσωση #[span.course-notes-equation 7-143]:

p.latex-equation.
	$$k_{high} = \frac{R_4}{R_3+R_4} = \frac{1}{0.0050+1} = 0.995$$

p.
	Υπολογίζεται το κέρδος της μονάδας στις χαμηλές συχνότητες, χρησιμοποιώντας τις εξισώσεις #[span.course-notes-equation 7-146], #[span.course-notes-equation 7-147] και #[span.course-notes-equation 7-148], θέτοντας s=0:

p.latex-equation.
	$$k_{low} = k_{high}\Omega_Z^2 = 0.995*1.2705^2 = 1.6062$$

p #[strong Κλιμακοποίηση]

p.
	Γίνεται κλιμακoποίηση των στοιχείων της μονάδας για να μεταφερθούν οι συχνότητες στις πραγματικές τιμές. Επιλέγεται:

p.latex-equation.
	$$k_{f} = \omega_0 =  12363.407$$

div(style="page-break-before:always")
p.
	Με βάση τον αριθμό ΑΕΜ (8261) επιλέγεται κατάλληλος συντελεστής κλιμακοποίησης πλάτους ώστε να επιτευχθεί τιμή πυκνωτών ίση με 0.1μF, γίνεται χρήση του τύπου #[span.course-notes-equation 6-33]:

p.latex-equation.
	$$k_{m} = \frac{C_{old}}{k_fC_{new}} = \frac{0.0394}{ 12363.407*0.1*10^{-6}} = 31.9053$$

p Οι τελικές τιμές των στοιχείων φαίνονται στον παρακάτω πίνακα:

figure.block-center.width-15cm
	table.ui.celled.table.teal.striped.center.aligned
		thead
			tr
				th Στοιχείο/Κέρδος
				th(colspan="2") Τιμή
		tbody
			tr
				td C
				td(colspan="2") 0,1 μF
			tr
				td R#[sub 1]
				td(colspan="2") 31.9053 Ohm
			tr
				td R#[sub 2]
				td(colspan="2") 20505 Ohm
			tr
				td R#[sub 3]
				td(colspan="2") 0.1603 Ohm
			tr
				td R#[sub 4]
				td(colspan="2") 31.9053 Ohm
			tr
				td R#[sub 5]
				td(colspan="2") 33384 Ohm
			tr
				td Κέρδος στις υψηλές συχνότητες
				td 0.995
				td -0.044 dB
			tr
				td Κέρδος στις χαμηλές συχνότητες
				td 1.6062
				td 4.116 dB
	figcaption
		.reference #[span.table-count]
		.caption.
			Τιμές των στοιχείων της τέταρτης μονάδας και κέρδη στις υψηλές και χαμηλές συχνότητες

p.
	Η συνάρτηση μεταφοράς της μονάδας υπολογίζεται χρησιμοποιώντας τις εξισώσεις #[span.course-notes-equation 7-146], #[span.course-notes-equation 7-147] και #[span.course-notes-equation 7-148]:

p.latex-equation.
	$$\begin{align*}
	T_{BE}^4(s) &= k_{high}\frac{s^2+\big[\frac{1}{R_1R_5C^2}+\frac{1}{R_1R_2C^2}\big]}{s^2+\frac{2}{R_2C}s+\frac{1}{R_1R_2C^2}}= \\[3.5mm]
	&=0.995\frac{s^2+\big[\frac{1}{31.9053*33384*(0.1*10^{-6})^2}+\frac{1}{31.9053*20505*(0.1*10^{-6})^2}\big]}{s^2+\frac{2}{20505*0.1*10^{-6}}s+\frac{1}{31.9053*20505*(0.1*10^{-6})^2}} = \\[3.5mm]
	&=\frac{0.995s^2+2.455*10^8}{s^2+975.4s+1.529*10^8} 
	\end{align*}$$

h4 Ρύθμιση κέρδους

p.
	Με βάση τον αριθμό ΑΕΜ (8261) πραγματοποιείται ρύθμιση κέρδους με στόχο την επίτευξη κέρδους 0 dB στη ζώνη διόδου.

div(style="page-break-before:always")
p.
	Κατά την υλοποίηση των μονάδων HPN και LPN διαπιστώθηκε ότι κάθε μονάδα εισάγει ένα κέρδος. Το συνολικό κέρδος που εισάγουν οι μονάδες είναι:

p.latex-equation.
	$$k = k_{high}^1k_{high}^2k_{high}^3k_{high}^4 = 1.6835*0.7659*1.6104*0.995 = 2.066$$
p.
	Για τη ρύθμιση του κέρδους χρησιμοποιείται μία αναστρέφουσα συνδεσμολογία με κέρδος:

p.latex-equation.
	$${k}' = \frac{1}{k} = \frac{1}{2.066} = 0.484$$

p.
	Επιλέγεται η χρήση αντίστασης εισόδου ίσης με r#[sub 1]=10 kOhm. Έτσι η αντίσταση ανατροφοδότησης υπολογίζεται:

p.latex-equation.
	$$r_2 = r_1{k}' = 10*10^3*0.484 = 4840\text{ Ohm}$$

h4 Συναρτήσεις μεταφοράς

p.
	Στον παρακάτω πίνακα φαίνονται οι συναρτήσεις μεταφοράς των επιμέρους μονάδων που υπολογίστηκαν παραπάνω:

figure.block-center.width-15cm
	table.ui.celled.table.teal.striped.center.aligned
		thead
			tr
				th Μονάδα
				th Συνάρτηση μεταφοράς
		tbody
			tr
				td Πρώτη μονάδα (Unit 1)
				td.
					$$T_{BE}^1(s) = \frac{1.6835s^2+4.154*10^8}{s^2+12280.5s+4.625*10^8}$$
			tr
				td Δεύτερη μονάδα (Unit 2)
				td.
					$$T_{BE}^2(s) = \frac{0.7659s^2+1.89*10^8}{s^2+6551s+1.316*10^8}$$
			tr
				td Τρίτη μονάδα (Unit 3)
				td.
					$$T_{BE}^3(s) = \frac{1.6104s^2+3.973*10^8}{s^2+1574.4s+3.983*10^8}$$
			tr
				td Τέταρτη μονάδα (Unit 4)
				td.
					$$T_{BE}^4(s) = \frac{0.995s^2+2.455*10^8}{s^2+975.4s+1.529*10^8}$$
	figcaption
		.reference #[span.table-count]
		.caption.
			Συναρτήσεις μεταφοράς των επιμέρους μονάδων

div(style="page-break-before:always")
p.
	Η συνολική συνάρτηση μεταφοράς του φίλτρου υπολογίζεται:

p.latex-equation.
	$$\begin{align*} T_{BP(s)} &= {k}'T_{BP(s)}^1T_{BP(s)}^2T_{BP(s)}^3T_{BP(s)}^4 \\[3.5mm] &=\frac{s^8+9.8696*10^8s^6+3.6528*10^{17}s^4+6.0087*10^{25}s^2+3.7065*10^{33}}{s^8+21382*s^7+1.2753*10^{9}*s^6+1.7404*10^{13}*s^5+5.1829*10^{17}*s^4+} \hspace{3mm}\text{...} \\[3.5mm] &\text{...}\hspace{3mm}\frac{s^8+9.8696*10^8s^6+3.6528*10^{17}s^4+6.0087*10^{25}s^2+3.7065*10^{33}}{+4.2943*10^{21}*s^3+7.7641*10^{25}*s^2+3.2119*10^{29}*s+3.7065*10^{33}} \end{align*}$$

p.
	Στο παρακάτω σχήμα φαίνεται το τελικό κύκλωμα του φίλτρου:

figure.block-center.width-19cm
	img(src="3_band_elimination/assets/diagrams/multisim_band_elimination_chebyshev_circuit_layout_only_filter.svg").width-19cm
	figcaption
		.reference #[span.plot-count]
		.caption.
			Κύκλωμα ζωνοφρακτικού φίλτρου
