div(style="page-break-before:always")
h3 Μελέτη συνάρτησης μεταφοράς στο Matlab
p.
	Η σχεδίαση του φίλτρου έγινε στο λογισμικό Matlab. Σχεδιάστηκαν, με χρήση της συνάρτησης plot_transfer_function που δόθηκε καθώς και της ltiview που παρέχει το λογισμικό, οι αποκρίσεις πλάτους σε dB των επιμέρους μονάδων, καθώς και του συνολικού φίλτρου.

p.
	Παρακάτω φαίνονται οι αποκρίσεις όπως προέκυψαν στο Matlab από την plot_transfer_function, με ορίσματα κάθε φορά την συνάρτηση μεταφοράς του επί μέρους συστήματος, καθώς και τυχόν κρίσιμες συχνότητες:

figure.block-center.width-15cm
	img(src="3_band_elimination/assets/diagrams/matlab_band_elimination_chebyshev_HPN_unit_1_transfer_function.svg").width-15cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Συνάρτηση μεταφοράς πρώτης ζωνοφρακτικής μονάδας (HPN).
		.caption.
			Στο γράφημα φαίνεται η απόκριση της συνάρτησης μεταφοράς στην κεντρική συχνότητα της μονάδας.

figure.block-center.width-15cm
	img(src="3_band_elimination/assets/diagrams/matlab_band_elimination_chebyshev_LPN_unit_2_transfer_function.svg").width-15cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Συνάρτηση μεταφοράς δεύτερης ζωνοφρακτικής μονάδας (LPN).
		.caption.
			Στο γράφημα φαίνεται η απόκριση της συνάρτησης μεταφοράς στην κεντρική συχνότητα της μονάδας.

figure.block-center.width-15cm
	img(src="3_band_elimination/assets/diagrams/matlab_band_elimination_chebyshev_HPN_unit_3_transfer_function.svg").width-15cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Συνάρτηση μεταφοράς τρίτης ζωνοφρακτικής μονάδας (HPN).
		.caption.
			Στο γράφημα φαίνεται η απόκριση της συνάρτησης μεταφοράς στην κεντρική συχνότητα της μονάδας.

figure.block-center.width-15cm
	img(src="3_band_elimination/assets/diagrams/matlab_band_elimination_chebyshev_LPN_unit_4_transfer_function.svg").width-15cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Συνάρτηση μεταφοράς τέταρτης ζωνοφρακτικής μονάδας (LPN).
		.caption.
			Στο γράφημα φαίνεται η απόκριση της συνάρτησης μεταφοράς στην κεντρική συχνότητα της μονάδας.

figure.block-center.width-15cm
	img(src="3_band_elimination/assets/diagrams/matlab_band_elimination_chebyshev_total_transfer_function.svg").width-15cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Συνολική συνάρτηση μεταφοράς φίλτρου.
		.caption.
			Παρατηρούμε ότι η συνάρτηση μεταφοράς του φίλτρου έχει το αναμενόμενο σχήμα ενός ζωνοφρακτικού Chebyshev φίλτρου. Πιο συγκεκριμένα, στη ζώνη αποκοπής η συνάρτηση μεταφοράς είναι γνησίως φθίνουσα, ενώ στη ζώνη διόδου εμφανίζει ταλάντωση (ripples). Στο γράφημα φαίνεται επίσης η απόκριση της συνάρτησης μεταφοράς στις κρίσιμες συχνότητες: μέγιστο σημείο του ripple (1910 Hz), f#[sub 1]=1950 Hz, f#[sub hp1]=1988.3 Hz, f#[sub 3]=2261.55 Hz, f#[sub 0]=2500 Hz, f#[sub 4]=2763.6 Hz, f#[sub hp2]=3143.39 Hz, f#[sub 2]=3205.13 Hz.

figure.block-center.width-15cm
	img(src="3_band_elimination/assets/diagrams/matlab_combined_transfer_functions_bode.svg").width-15cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Συνδυαστικό γράφημα συναρτήσεων μεταφοράς επιμέρους μονάδων και συνολικού φίλτρου.

figure.block-center.width-15cm
	img(src="3_band_elimination/assets/diagrams/matlab_band_elimination_chebyshev_total_attenuation.svg").width-15cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Απόσβεση φίλτρου.
		.caption.
			Στο γράφημα φαίνεται η απόσβεση του φίλτρου για τις κρίσιμες συχνότητες: f#[sub 1]=1950 Hz, f#[sub 3]=2261.55 Hz, f#[sub 0]=2500 Hz, f#[sub 4]=2763.6 Hz, f#[sub 2]=3205.13 Hz.

p.
	Στα γραφήματα 4.2.5 και 4.2.7 έχουν σημειωθεί οι κρίσιμες συχνότητες οι οποίες καθορίζουν την ζώνη διόδου και αποκοπής, δηλαδή οι f#[sub 1]=1950 Hz, f#[sub 2]=3205.128 Hz, f#[sub 3]=2261.546 Hz και f#[sub 4]=2763.597 Hz, καθώς και οι αντίστοιχες αποσβέσεις. Παρατηρούμε ότι η απόκριση του φίλτρου στις συχνότητες που καθορίζουν την ζώνη διόδου είναι 0 dB, ενώ στη ζώνη αποκοπής είναι 39.21 dB. Επίσης η ταλάντωση στη ζώνη διόδου προκαλεί μέγιστο κέρδος 0.56 dB, ίσο με το α#[sub max]. Επομένως είναι φανερό ότι πληρείτε ακριβώς η προδιαγραφή a#[sub max]=0.555 dB ενώ η προδιαγραφή a#[sub min]=29.334 dB υπερκαλύπτεται.

p.
	Η συνάρτηση απόσβεσης, πριν τη ρύθμιση κέρδους, δίνεται από το παρακάτω διάγραμμα:

figure.block-center.width-15cm
	img(src="3_band_elimination/assets/diagrams/matlab_band_elimination_chebyshev_original_gain_attenuation.svg").width-15cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Απόσβεση φίλτρου πριν τη ρύθμιση κέρδους.
		.caption.
			Στο γράφημα σημειώνονται οι ίδιες κρίσιμες συχνότητες: f#[sub 1]=1950 Hz, f#[sub 3]=2261.55 Hz, f#[sub 0]=2500 Hz, f#[sub 4]=2763.6 Hz, f#[sub 2]=3205.13 Hz.
