.report-sidebar: p Σύνθεση Ενεργών και Παθητικών Κυκλωμάτων

//Insert components table here!
include cover_page
include table_of_contents
include 0_intro/0_intro
include 1_low_pass/1_low_pass
include 2_band_pass/2_band_pass
include 3_band_elimination/3_band_elimination
include 4_high_pass/4_high_pass

//- Removes annoying date from top left corner
template#page-header
  span \

template#page-footer
  style(type='text/css').
    .pdfheader {
      font-size: 10px;
      color: #aaa;
      font-family: Helvetica;
      font-weight: bold;
      width: 1000px;
      border-top: 1px solid #aaa;
      margin-left: 10%;
      margin-right: 10%;
      padding-top: 1mm;
      margin-bottom: -1mm;
      text-align: center;
    }
  
  .pdfheader Page #[span.pageNumber] / #[span.totalPages]

style
  include:scss report.scss
