div(style="page-break-before:always")
h3 Υλοποίηση κυκλώματος στο Multisim
p.
	Το κύκλωμα του φίλτρου που σχεδιάστηκε προηγουμένως, εισάγεται στο λογισμικό Multisim όπου θα ελεγχθεί η ορθότητα της σχεδίασης του μέσω διάφορων πειραμάτων και θα εξαχθούν χρήσιμα συμπεράσματα για τη λειτουργία του φίλτρου.
	Το κύκλωμα, μαζί με τα διάφορα εργαλεία που χρησιμοποιούνται για τον έλεγχό του, φαίνεται στο επόμενο σχηματικό:

figure.block-center.width-19cm
	img(src="1_low_pass/assets/diagrams/multisim_low_pass_inverse_chebyshev_layout.svg").width-19cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Υλοποίηση κατωδιαβατού αντίστροφου Chebyshev στο Multisim.
		.caption.
			Εκτός από το κύκλωμα του φίλτρου, το σχηματικό περιλαμβάνει ένα bode plotter (XBP1), δύο spectrum analyzers (XSA1 και XSA2) και ένα oscilloscope (XSC1) για την καταγραφή των εισόδων και εξόδων του φίλτρου. Επίσης έχουν τοποθετηθεί μία πηγή στοιχειώδους περιοδικού σήματος (V1), μία πηγή τετραγωνικών παλμών (V2) και ένας διακόπτης (S1) για την επιλογή του σήματος εισόδου.

p.
	Ο διακόπτης S1 τοποθετείται στην αριστερή επαφή ώστε να επιλεχθεί ως σήμα εισόδου του φίλτρου το στοιχειώδες ημιτονοειδές σήμα της πηγής V1 με χαρακτηριστικά Vpp=1 V, f=1 kHz. Χρησιμοποιώντας το εργαλείο bode plotter (XBP1), εξάγεται η απόκριση συχνότητας του κυκλώματος. Το διάγραμμα και οι επιλεγμένες τιμές του εργαλείου φαίνονται παρακάτω:

figure.block-center.width-15cm
	img(src="1_low_pass/assets/diagrams/multisim_low_pass_inversed_chebyshev_bode_plotter.svg").width-15cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Έξοδος bode plotter-XBP1 κατωδιαβατού αντίστροφου Chebyshev φίλτρου από το Multisim.
		.caption.
			Οι επιλογές του bode plotter που χρησιμοποιήθηκαν:
			#[br/]#[strong Mode:] Magnitude
			#[br/]#[strong Horizontal:] Log με #[strong F:] 1 MHz και #[strong I:] 10 Hz
			#[br/]#[strong Vertical:] Log με #[strong F:] 10 dB και #[strong I:] -200 dB
			#[br/]#[strong Set...] με #[strong Resolution points:] 1000

p.
	Το παρακάτω διάγραμμα είναι ίδιο με το προηγούμενο, σημειώνονται όμως οι αποκρίσεις στις κρίσιμες συχνότητες:

figure.block-center.width-15cm
	img(src="1_low_pass/assets/diagrams/multisim_low_pass_inversed_chebyshev_bode_plotter_with_values.svg").width-15cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Έξοδος bode plotter-XBP1 κατωδιαβατού αντίστροφου Chebyshev φίλτρου από το Multisim με σημειωμένες τις αποκρίσεις στις κρίσιμες συχνότητες.
		.caption.
			Οι επιλογές του bode plotter που χρησιμοποιήθηκαν:
			#[br/]#[strong Mode:] Magnitude
			#[br/]#[strong Horizontal:] Log με #[strong F:] 1 MHz και #[strong I:] 10 Hz
			#[br/]#[strong Vertical:] Log με #[strong F:] 10 dB και #[strong I:] -200 dB
			#[br/]#[strong Set...] με #[strong Resolution points:] 1000
			#[br/]Οι συχνότητες που σημειώνονται είναι f#[sub p]=5500 Hz, f#[sub hp]=8313.16 Hz και f#[sub s]=11550 Hz.

p.
	Από το διάγραμμα 2.3.3 γίνεται φανερό ότι η ανάλυση του κυκλώματος στο Multisim συμφωνεί με τη θεωρητική ανάλυση που προηγήθηκε κάθως και την ανάλυση που έγινε χρησιμοποιώντας το Matlab. Παρατηρούνται ωστόσο μικρές αποκλίσεις, της τάξης 10#[sup -3], οι οποίες αποδίδονται στο γεγονός ότι οι τιμές των στοιχείων που χρησιμοποιήθηκαν στο Multisim έχουν μικρότερη ακρίβεια από ότι οι αντίστοιχες τιμές στην ανάλυση στο Matlab.

p.
	Ο διακόπτης S1 τοποθετείται τώρα στην δεξιά επαφή ώστε να επιλεχθεί ως σήμα εισόδου του φίλτρου ο τετραγωνικός παλμός της πηγής V2 με χαρακτηριστικά V#[sub 0]=0 V, Vp=1 V, f=2 kHz, duty cycle ίσο με 40%. Χρησιμοποιώντας το εργαλείο oscilloscope (XSC1), εξάγεται η κυματομορφή του σήματος εισόδου. Το διάγραμμα και οι επιλεγμένες τιμές του εργαλείου φαίνονται παρακάτω:

figure.block-center.width-17cm
	img(src="1_low_pass/assets/diagrams/multisim_low_pass_inversed_chebyshev_oscilloscope_input_sig.svg").width-17cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Έξοδος oscilloscope-XSC1 (μόνο channel A) κατωδιαβατού αντίστροφου Chebyshev φίλτρου από το Multisim.
		.caption.
			Οι επιλογές του oscilloscope που χρησιμοποιήθηκαν:
			#[br/]#[strong Timebase:] #[strong Scale:] 500 us/Div, #[strong X pos.:] 0 και #[strong mode:] Y/T
			#[br/]#[strong Channel:] #[strong Scale:] 500 mV/Div, #[strong Y pos.:] 0 και #[strong mode:] DC

p.
	Χρησιμοποιώντας το ίδιο εργαλείο (XSC1), εξάγεται η κυματομορφή της εξόδου. Το διάγραμμα και οι επιλεγμένες τιμές του εργαλείου φαίνονται παρακάτω:

figure.block-center.width-17cm
	img(src="1_low_pass/assets/diagrams/multisim_low_pass_inversed_chebyshev_oscilloscope_output_sig.svg").width-17cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Έξοδος oscilloscope-XSC1 (μόνο channel B) κατωδιαβατού αντίστροφου Chebyshev φίλτρου από το Multisim.
		.caption.
			Οι επιλογές του oscilloscope που χρησιμοποιήθηκαν:
			#[br/]#[strong Timebase:] #[strong Scale:] 500 us/Div, #[strong X pos.:] 0 και #[strong mode:] Y/T
			#[br/]#[strong Channel:] #[strong Scale:] 500 mV/Div, #[strong Y pos.:] 0 και #[strong mode:] DC & -

p.
	Χρησιμοποιώντας και τα δύο κανάλια του εργαλείου (XSC1), εξάγεται η κυματομορφή της εισόδου και της εξόδου στο ίδιο διάγραμμα. Το διάγραμμα και οι επιλεγμένες τιμές του εργαλείου φαίνονται παρακάτω:

figure.block-center.width-17cm
	img(src="1_low_pass/assets/diagrams/multisim_low_pass_inversed_chebyshev_oscilloscope_combined_input_output_sig.svg").width-17cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Έξοδος oscilloscope-XSC1 κατωδιαβατού αντίστροφου Chebyshev φίλτρου από το Multisim.
		.caption.
			Οι επιλογές του oscilloscope που χρησιμοποιήθηκαν:
			#[br/]#[strong Timebase:] #[strong Scale:] 500 us/Div, #[strong X pos.:] 0 και #[strong mode:] Y/T
			#[br/]#[strong Channel A:] (input signal) #[strong Scale:] 500 mV/Div, #[strong Y pos.:] 0 και #[strong mode:] DC
			#[br/]#[strong Channel B:] (output signal) #[strong Scale:] 500 mV/Div, #[strong Y pos.:] 0 και #[strong mode:] DC & -

p.
	Στα παραπάνω διαγράμματα μπορούμε να δούμε αναλυτικά τα σήματα εισόδου και εξόδου στο χρόνο. Στις περιγραφές των διαγραμμάτων φαίνονται οι επιλογές που έγιναν στον παλμογράφο για να προκύψουν οι αντίστοιχες παραστάσεις.

p.
	Η συνολική απόκριση του φίλτρου στο σήμα εισόδου (τετραγωνικός παλμός) που καθόρισε η εκφώνηση, ελέγχθηκε στο λογισμικό Matlab. Η είσοδος και η έξοδος του φίλτρου στο χρόνο, όπως προέκυψαν στο Matlab, φαίνονται στο παρακάτω διάγραμμα:

figure.block-center.width-17cm
	img(src="1_low_pass/assets/diagrams/matlab_low_pass_inversed_chebyshev_combined_input_output_sig.svg").width-17cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Σήματα εισόδου και εξόδου στο χρόνο, διάγραμμα από Matlab.
		.caption.
			Παρατηρείται ότι τα σήματα συμφωνούν με αυτά του Multisim.

div(style="page-break-before:always")
p.
	Χρησιμοποιήθηκαν οι εντολές fft και lsim που παρέχονται από το λογισμικό για να εξαχθεί η απόκριση και στη συνέχεια το φάσμα της απόκρισης τόσο για την είσοδο όπως και για την έξοδο. Το φάσμα του σήματος εισόδου φαίνεται στο παρακάτω διάγραμμα:

figure.block-center.width-17cm
	img(src="1_low_pass/assets/diagrams/matlab_low_pass_inversed_chebyshev_input_spectrum.svg").width-17cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Φάσμα σήματος εισόδου, διάγραμμα από Matlab.

p.
	Στο επόμενο διάγραμμα φαίνεται και πάλι το φάσμα του σήματος εισόδου με μεγέθυνση στη περιοχή ενδιαφέροντος:

figure.block-center.width-17cm
	img(src="1_low_pass/assets/diagrams/matlab_low_pass_inversed_chebyshev_input_spectrum_zoom.svg").width-17cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Φάσμα σήματος εισόδου, διάγραμμα από Matlab.

div(style="page-break-before:always")
p.
	Το φάσμα του σήματος εξόδου φαίνεται στο παρακάτω διάγραμμα:

figure.block-center.width-17cm
	img(src="1_low_pass/assets/diagrams/matlab_low_pass_inversed_chebyshev_output_spectrum.svg").width-17cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Φάσμα σήματος εξόδου, διάγραμμα από Matlab.

p.
	Στο επόμενο διάγραμμα φαίνεται και πάλι το φάσμα του σήματος εξόδου με μεγέθυνση στη περιοχή ενδιαφέροντος:

figure.block-center.width-17cm
	img(src="1_low_pass/assets/diagrams/matlab_low_pass_inversed_chebyshev_output_spectrum_zoom.svg").width-17cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Φάσμα σήματος εξόδου, διάγραμμα από Matlab.

p.
	Η ίδια απόκριση ελέγχθηκε και στο Multisim. Διατηρώντας τον διακόπτη S1 στη δεξιά επαφή, χρησιμοποιείται το εργαλείο spectrum analyzer (XSA1) για να εξαχθεί το φάσμα εισόδου. Το διάγραμμα και οι επιλεγμένες τιμές του εργαλείου φαίνονται παρακάτω:

figure.block-center.width-17cm
	img(src="1_low_pass/assets/diagrams/multisim_low_pass_inversed_chebyshev_spectrum_analyzer_input.svg").width-17cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Φάσμα σήματος εισόδου, έξοδος spectrum analyzer-XSA1 από Multisim.
		.caption.
			Οι επιλογές του spectrum analyzer που χρησιμοποιήθηκαν:
			#[br/]#[strong Frequency:] #[strong Span:] 20 kHz, #[strong Start:] 0 Hz, #[strong Center:] 10 kHz και #[strong End:] 20 kHz
			#[br/]#[strong Amplitude:] #[strong lin] και #[strong Range:] 0.1 V/Div
			#[br/]#[strong Resolution freq.:] 100 Hz

p.
	Με τον ίδιο τρόπο, χρησιμοποιείται το εργαλείο spectrum analyzer (XSA2) για να εξαχθεί το φάσμα εξόδου. Το διάγραμμα και οι επιλεγμένες τιμές του εργαλείου φαίνονται παρακάτω:

figure.block-center.width-17cm
	img(src="1_low_pass/assets/diagrams/multisim_low_pass_inversed_chebyshev_spectrum_analyzer_output.svg").width-17cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Φάσμα σήματος εξόδου, έξοδος spectrum analyzer-XSA2 από Multisim.
		.caption.
			Οι επιλογές του spectrum analyzer που χρησιμοποιήθηκαν:
			#[br/]#[strong Frequency:] #[strong Span:] 20 kHz, #[strong Start:] 0 Hz, #[strong Center:] 10 kHz και #[strong End:] 20 kHz
			#[br/]#[strong Amplitude:] #[strong lin] και #[strong Range:] 0.1 V/Div
			#[br/]#[strong Resolution freq.:] 100 Hz

div(style="page-break-before:always")
p.
	Τα δύο παραπάνω διαγράμματα συνδυάστηκαν σε ένα για ευκολότερη εξαγωγή συμπερασμάτων:

figure.block-center.width-17cm
	img(src="1_low_pass/assets/diagrams/multisim_low_pass_inversed_chebyshev_spectrum_analyzer_combined_input_output.svg").width-17cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Φάσματα σημάτων εισόδου και εξόδου, εξόδου spectrum analyzers-XSA1 και XSA2 από Multisim.

p.
	Από τα παραπάνω διαγράμματα συμπεραίνουμε καταρχάς ότι η ανάλυση του φίλτρου που έγινε στο Matlab συμφωνεί με αυτή που έγινε στο Multisim. Το συμπέρασμα αυτό προέρχεται από το γεγονός ότι τα φάσματα εισόδου και εξόδου του σήματος εισόδου και εξόδου του φίλτρου είναι ίδια στα δύο πειράματα.
p.
	Επίσης από τα φάσματα και κυρίως από το τελευταίο διάγραμμα (2.3.14) γίνεται εύκολα αντιληπτό ότι το κύκλωμα που σχεδιάστηκε υλοποιεί επιτυχώς το επιθυμητό κατωδιαβατό φίλτρο.
p.
	Πιο συγκεκριμένα παρατηρείται ότι το φάσμα εξόδου είναι ίδιο με το φάσμα εισόδου στις χαμηλές συχνότητες, δηλαδή στη ζώνη διόδου μέχρι τα 5500 Hz. Ταυτόχρονα, οι συχνότητες της ζώνης αποκοπής, πάνω από 11550 Hz, υπέστησαν τόσο σημαντική απόσβεση, ώστε σχεδόν να μη φαίνονται στο φάσμα εξόδου, δείχνοντας ότι οι υψηλές συχνότητες κόβονται από το κύκλωμα. Τέλος σημειώνεται ότι η συχνότητα των 8000 Hz, η οποία βρίσκεται μέσα στη ζώνη μετάβασης του φίλτρου, έχει επίσης υποστεί κάποια απόσβεση, είναι όμως εμφανής και στο φάσμα εξόδου.
