div(style="page-break-before:always")
h3 Σχεδίαση φίλτρου
p.
	Για τη σχεδίαση του φίλτρου ακολουθήθηκε η διαδικασία που περιγράφεται στο κεφάλαιο 9 των σημειώσεων του μαθήματος:

figure.block-center.width-15cm
	div.ui.list.ordered.celled.striped
		div.item Υπολογισμός της τάξης του φίλτρου.
		div.item Υπολογισμός της συχνότητας ημίσειας ισχύος.
		div.item Υπολογισμός των πόλων του πρότυπου φίλτρου Chebyshev.
		div.item Υπολογισμός των πόλων του αντίστροφου φίλτρου Chebyshev μέσω αντιστροφής των πόλων Chebyshev.
		div.item Υπολογισμός των μηδενικών της συνάρτησης μεταφοράς.
		div.item Ομαδοποίηση των ζευγών πόλων και μηδενικών ανά δύο. Με τον τρόπο αυτό προκύπτουν φίλτρα notch, LPN ή HPN, ανάλογα με τις σχετικές θέσεις πόλων και μηδενικών.
		div.item Υλοποίηση των φίλτρων notch με βάση τα κυκλώματα του κεφαλαίου 7.
		div.item Κλιμακοποίηση του κυκλώματος με στόχο τη μεταφορά στις πραγματικές συχνότητες και σε στοιχεία με πρακτικές (υλοποιήσιμες) τιμές.
		div.item Έλεγχος των κερδών των μονάδων και ρύθμιση κέρδους με επιβολή απόσβεσης ή ενίσχυσης.

h4 Υπολογισμός συνάρτησης μεταφοράς

p.
	Αρχικά σχεδιάζεται ένα πρότυπο κατωδιαβατό Chebyshev φίλτρο, το οποίο αργότερα θα μετατραπεί στο επιθυμητό αντίστροφο Chebyshev.

p Γίνεται κανονικοποίηση των συχνοτήτων ώστε να επιτευχθεί Ω#[sub s]=1 rad/s:

p.latex-equation.
	$$\Omega_p = \frac{\omega_p}{\omega_s} = \frac{34557.519}{72570.790} = 0.476\frac{rad}{s}$$

p Υπολογίζεται η τάξη του φίλτρου χρησιμοποιώντας την εξίσωση #[span.course-notes-equation 9-137]:

p.latex-equation.
	$$n = \left \lceil \frac{cos^{-1}\bigg(\sqrt{\frac{10^{\frac{a_{min}}{10}}-1}{10^{\frac{a_{max}}{10}}-1}}\bigg)}{cos^{-1}(\frac{1}{\Omega_p})} \right \rceil = \left \lceil \frac{cos^{-1}\bigg(\sqrt{\frac{10^{2.375}-1}{10^{0.035}-1}}\bigg)}{cos^{-1}(2.1)} \right \rceil = \left \lceil \frac{4.6642}{1.373} \right \rceil = \left \lceil 3.397 \right \rceil = 4$$

p.
	Από τον παραπάνω τύπο φαίνεται ότι κατά τον υπολογισμό της τάξης του φίλτρου γίνεται στρογγυλοποίηση της τάξης προς τον επόμενο #[strong μεγαλύτερο] ακέραιο. Αυτό γίνεται επειδή δεν είναι δυνατή η υλοποίηση ενός φίλτρου ρητής τάξεως, έτσι είναι απαραίτητο η τάξη να στρογγυλοποιηθεί. Η στρογγυλοποίηση είναι σημαντικό να γίνει προς τα επάνω (ceiling) ώστε να επιτευχθούν οι προδιαγραφές του φίλτρου. Μία πιθανή στρογγυλοποίηση προς τα κάτω θα είχε ως αποτέλεσμα την αποτυχία στη σχεδίαση.

p.
	Λόγω της στρογγυλοποίησης αυτής, αναμένεται μάλιστα να υπάρχει υπερκάλυψη σε τουλάχιστον μία από τις προδιαγραφές. Στη συγκεκριμένη περίπτωση, λόγω της επιλογής κανονικοποίησης ως προς την ω#[sub s], αναμένεται να υπάρχει υπερκάλυψη της προδιαγραφής a#[sub max].

p.
	Στη συνέχεια υπολογίζονται οι παράμετροι ε και α από τις εξισώσεις #[span.course-notes-equation 9-123] και #[span.course-notes-equation 9-92] αντίστοιχα:

p.latex-equation.
	$$\varepsilon = \frac{1}{\sqrt{10^{\frac{a_{min}}{10}}-1}} = \frac{1}{\sqrt{10^{2.375}-1}} = 0.065$$
p.latex-equation.
	$$\alpha = \frac{\sinh^{-1}(\frac{1}{\varepsilon})}{n} = \frac{\sinh^{-1}(\frac{1}{0.065})}{n} = 0.857$$

p.
	Υπολογίζεται η κανονικοποιημένη συχνότητα ημίσειας ισχύος χρησιμοποιώντας την εξίσωση #[span.course-notes-equation 9-139]:

p.latex-equation.
	$$\Omega_{hp} = \frac{1}{cosh(\frac{1}{n}cosh^{-1}(\frac{1}{\varepsilon}))} = \frac{1}{cosh(\frac{1}{4}cosh^{-1}(\frac{1}{0.065}))} = 0.7196\frac{rad}{s}$$

p και στη συνέχεια μεταφέρεται στη πραγματική συχνότητα:

p.latex-equation.
	$$\omega_{hp} = \Omega_{hp} * \omega_s = 0.7196 * 72570.790 = 52222.58\frac{rad}{s}$$

p.
	Οι γωνίες Butterworth μπορούν να υπολογιστούν με βάση τον αλγόριθμο Guillemin ή να βρεθούν απευθείας από γνωστούς πίνακες γωνιών Butterworth. Για φίλτρο τέταρτης τάξης, οι γωνίες είναι:

p.latex-equation.
	$$\pm 22.5^\circ$$ και $$\pm 67.5^\circ$$

p.
	Με βάση τις εξισώσεις #[span.course-notes-equation 9-102] και #[span.course-notes-equation 9-103]:

p.latex-equation.
	$$\sigma_k = -\sinh(\alpha)*\cos(\theta)$$
	$$\Omega_k = \cosh(\alpha)*\sin(\theta)$$

p προκύπτουν οι πόλοι #[strong Chebyshev]:

p.latex-equation.
	$$\text{Pole 1: } -0.892\pm0.532\mathrm{i}$$
	$$\text{Pole 2: } -0.369±1.284\mathrm{i}$$

div(style="page-break-before:always")
p.
	Χρησιμοποιώντας τις εξισώσεις #[span.course-notes-equation 9-150] και #[span.course-notes-equation 9-151]:

p.latex-equation.
	$$\Omega_{0_k} = \sqrt{\sigma_k^2+\Omega_k^2}$$
	$$Q_k = \frac{1}{2*\cos(\tan^{-1}(\frac{\Omega_k}{\sigma_k}))}$$

p υπολογίζονται τα Ω#[sub 0] και Q των πόλων αντίστοιχα:

p.latex-equation.
	$$\text{Pole 1: } \Omega_0 = 1.038 \text{, }Q = 0.582$$
	$$\text{Pole 2: } \Omega_0 = 1.336 \text{, }Q = 1.809$$

p.
	Οι πόλοι αντιστρέφονται χρησιμοποιώντας την εξίσωση #[span.course-notes-equation 9-146] για τον υπολογισμό των ω#[sub 0#[sub k]], ενώ τα Q παραμένουν ίδια:

p.latex-equation.
	$$\omega_{0_k} = \frac{1}{\Omega_{0_k}}$$

p.
	Από τον μετασχηματισμό προκύπτουν οι πόλοι του #[strong αντίστροφου Chebyshev]:

p.latex-equation.
	$$\text{Pole 1: } \omega_0 = 0.963 \text{, }Q = 0.582$$
	$$\text{Pole 2: } \omega_0 = 0.748 \text{, }Q = 1.809$$

p.
	Κατά τον μετασχηματισμό προκύπτουν επίσης, με βάση την εξίσωση #[span.course-notes-equation 9-143]:

p.latex-equation.
	$$\omega_{z_k} = \sec\big(\frac{k\pi}{2n}\big) \text{, } k=1,3,5,...$$

p.
	τα μηδενικά της συνάρτησης μεταφοράς:

p.latex-equation.
	$$\text{Zero 1: } 0\pm1.082\mathrm{i}$$
	$$\text{Zero 2: } 0\pm2.613\mathrm{i}$$

div(style="page-break-before:always")
p.
	Οι πόλοι και τα μηδενικά του φίλτρου φαίνονται στο παρακάτω διάγραμμα:

figure.block-center.width-19cm
	img(src="1_low_pass/assets/diagrams/inverse_chebyshev_zero_pole.svg").width-19cm
	figcaption
		.reference #[span.plot-count]
		.caption.
			Πόλοι και μηδενικά του αντίστροφου Chebyshev

p.
	Οι πόλοι και τα μηδενικά ομαδοποιούνται όπως φαίνεται στο παρακάτω διάγραμμα:

figure.block-center
	.ui.grid
		.two.wide.column
		.three.wide.column
			.row
				img(src="1_low_pass/assets/diagrams/inverse_chebyshev_unit_1_zero_pole_grouping.svg")/
			.row.top-7mm
				img(src="1_low_pass/assets/diagrams/low_pass_notch_unit_diagram.svg")/
			.row.top-5mm
				p.center #[strong Unit 1]
		.six.wide.column
		.three.wide.column
			.row
				img(src="1_low_pass/assets/diagrams/inverse_chebyshev_unit_2_zero_pole_grouping.svg")/
			.row.top-7mm
				img(src="1_low_pass/assets/diagrams/low_pass_notch_unit_diagram.svg")/
			.row.top-5mm
				p.center #[strong Unit 2]
		.two.wide.column
	figcaption
		.reference #[span.plot-count]
		.caption.
			Ομαδοποίηση πόλων-μηδενικών

h4 Υλοποίηση συνάρτησης μεταφοράς

p.
	Από τον αριθμό ΑΕΜ (8261) υποδεικνύεται η χρήση των κυκλωμάτων low pass notch του κεφαλαίου 7, με χρήση του κυκλώματος του σχήματος 7.23.

h5 Μονάδα 1

p Η πρώτη μονάδα low pass notch, δεύτερης τάξης, πρέπει να υλοποιεί:

figure.block-center.width-15cm
	table.ui.celled.table.teal.striped.center.aligned
		thead
			tr
				th Προδιαγραφή
				th Τιμή
		tbody
			tr
				td ω#[sub 0]
				td 0.963
			tr
				td ω#[sub Z]
				td 1.0824
			tr
				td ω#[sub Z]>ω#[sub 0]
				td #[i.large.teal.checkmark.icon]
			tr
				td Q
				td 0.5822
	figcaption
		.reference #[span.table-count]
		.caption.
			Προδιαγραφές πρώτης μονάδας low pass notch

p.
	Γίνεται κανονικοποίηση των συχνοτήτων ως προς το ω#[sub 0], ώστε Ω#[sub 0]=1:

p.latex-equation.
	$$\Omega_Z = \frac{\omega_Z}{\omega_0} = \frac{1.0824}{0.963} = 1.1239>1$$

p.
	Υπολογίζονται τα στοιχεία του κυκλώματος του φίλτρου, με χρήση της μεθοδολογίας που περιγράφεται στο κεφάλαιο 7.6-B (σελίδα 35) και των εξισώσεων #[span.course-notes-equation 7-150], #[span.course-notes-equation 7-152], #[span.course-notes-equation 7-155]:

p.latex-equation.
	$$C = \frac{1}{2Q} = \frac{1}{2*0.5822} = 0.8588\text{ F}$$

p.latex-equation.
	$$R_2 = 4Q^2 = 4*0.5822^2 = 1.355\text{ Ohm}$$

p.latex-equation.
	$$R_5 = \frac{4Q^2}{\Omega_Z^2-1} = \frac{4*0.5822^2}{1.1239^2-1} = 5.151\text{ Ohm}$$

p.latex-equation.
	$$R_3 = \frac{\Omega_Z^2}{2Q^2} = \frac{1.1239^2}{2*0.5822^2} = 1.8635\text{ Ohm}$$

p.latex-equation.
	$$R_1 = R_4 = 1\text{ Ohm}$$

p.
	Υπολογίζεται το κέρδος της μονάδας στις υψηλές συχνότητες, χρησιμοποιώντας την εξίσωση #[span.course-notes-equation 7-143]:

p.latex-equation.
	$$k_{high} = \frac{R_4}{R_3+R_4} = \frac{1}{1.8635+1} = 0.3492$$

p.
	Υπολογίζεται το κέρδος της μονάδας στις χαμηλές συχνότητες, χρησιμοποιώντας τις εξισώσεις #[span.course-notes-equation 7-146], #[span.course-notes-equation 7-147] και #[span.course-notes-equation 7-148], θέτοντας s=0:

p.latex-equation.
	$$k_{low} = k_{high}\Omega_Z^2 = 0.3492*1.1239^2 = 0.4411$$

p #[strong Κλιμακοποίηση]

p.
	Γίνεται κλιμακoποίηση των στοιχείων της μονάδας για να μεταφερθούν οι συχνότητες στις πραγματικές τιμές. Επιλέγεται:

p.latex-equation.
	$$k_{f} = \omega_s\omega_0 = 72570.79*0.963 = 69885.7$$

p.
	Με βάση τον αριθμό ΑΕΜ (8261) επιλέγεται κατάλληλος συντελεστής κλιμακοποίησης πλάτους ώστε να επιτευχθεί τιμή πυκνωτών ίση με 0.1μF, γίνεται χρήση του τύπου #[span.course-notes-equation 6-33]:

p.latex-equation.
	$$k_{m} = \frac{C_{old}}{k_fC_{new}} = \frac{0.8588}{69885.7*0.1*10^{-6}} = 122.88$$

p Οι τελικές τιμές των στοιχείων φαίνονται στον παρακάτω πίνακα:

figure.block-center.width-15cm
	table.ui.celled.table.teal.striped.center.aligned
		thead
			tr
				th Στοιχείο/Κέρδος
				th(colspan="2") Τιμή
		tbody
			tr
				td C
				td(colspan="2") 0,1 μF
			tr
				td R#[sub 1]
				td(colspan="2") 122,88 Ohm
			tr
				td R#[sub 2]
				td(colspan="2") 166,59 Ohm
			tr
				td R#[sub 3]
				td(colspan="2") 229 Ohm
			tr
				td R#[sub 4]
				td(colspan="2") 122,88 Ohm
			tr
				td R#[sub 5]
				td(colspan="2") 633 Ohm
			tr
				td Κέρδος στις υψηλές συχνότητες
				td 0,3492
				td -9.14 dB
			tr
				td Κέρδος στις χαμηλές συχνότητες
				td 0,4411
				td -7.1 dB
	figcaption
		.reference #[span.table-count]
		.caption.
			Τιμές των στοιχείων της πρώτης μονάδας και κέρδη στις υψηλές και χαμηλές συχνότητες

div(style="page-break-before:always")
p.
	Η συνάρτηση μεταφοράς της μονάδας υπολογίζεται χρησιμοποιώντας τις εξισώσεις #[span.course-notes-equation 7-146], #[span.course-notes-equation 7-147] και #[span.course-notes-equation 7-148]:

p.latex-equation.
	$$\begin{align*}
	T_{BE}(s) &= k_{high}\frac{s^2+\big[\frac{k_{high}-1}{k_{high}R_1C}+\frac{2}{R_2C}+\frac{2}{R_5C}\big]s+\big[\frac{1}{R_1R_5C^2}+\frac{1}{R_1R_2C^2}\big]}{s^2+\frac{2}{R_2C}s+\frac{1}{R_1R_2C^2}}= \\[3.5mm]
	&=0.3492\frac{s^2+\big[\frac{0.3492-1}{0.3492*122.88*0.1*10^{-6}}+\frac{2}{166.59*0.1*10^{-6}}+\frac{2}{633*0.1*10^{-6}}\big]s+\big[\frac{1}{122.88*633*(0.1*10^{-6})^2}+\frac{1}{122.88*166.59*(0.1*10^{-6})^2}\big]}{s^2+\frac{2}{166.59*0.1*10^{-6}}s+\frac{1}{122.88*166.59*(0.1*10^{-6})^2}} = \\[3.5mm]
	&=\frac{0.3492s^2+\cancelto{0}{(1.6228*10^{-12})}s+2.1547*10^9}{s^2+120055s+4.8846*10^9} = \\[3.5mm]
	&=\frac{0.3492s^2+2.1547*10^9}{s^2+120055s+4.8846*10^9} 
	\end{align*}$$

h5 Μονάδα 2

p Η δεύτερη μονάδα low pass notch, δεύτερης τάξης, πρέπει να υλοποιεί:

figure.block-center.width-15cm
	table.ui.celled.table.teal.striped.center.aligned
		thead
			tr
				th Προδιαγραφή
				th Τιμή
		tbody
			tr
				td ω#[sub 0]
				td 0.7484
			tr
				td ω#[sub Z]
				td 2.6131
			tr
				td ω#[sub Z]>ω#[sub 0]
				td #[i.large.teal.checkmark.icon]
			tr
				td Q
				td 1.8086
	figcaption
		.reference #[span.table-count]
		.caption.
			Προδιαγραφές δεύτερης μονάδας low pass notch

p.
	Γίνεται κανονικοποίηση των συχνοτήτων ως προς το ω#[sub 0], ώστε Ω#[sub 0]=1:

p.latex-equation.
	$$\Omega_Z = \frac{\omega_Z}{\omega_0} = \frac{2.6131}{0.7484} = 3.4915>1$$

p.
	Υπολογίζονται τα στοιχεία του κυκλώματος του φίλτρου, με χρήση της μεθοδολογίας που περιγράφεται στο κεφάλαιο 7.6-B (σελίδα 35) και των εξισώσεων #[span.course-notes-equation 7-150], #[span.course-notes-equation 7-152], #[span.course-notes-equation 7-155]:

p.latex-equation.
	$$C = \frac{1}{2Q} = \frac{1}{2*1.8086} = 0.2765\text{ F}$$

p.latex-equation.
	$$R_2 = 4Q^2 = 4*1.8086^2 = 13.0838\text{ Ohm}$$

div(style="page-break-before:always")
p.latex-equation.
	$$R_5 = \frac{4Q^2}{\Omega_Z^2-1} = \frac{4*1.8086^2}{3.4915^2-1} = 1.1692\text{ Ohm}$$

p.latex-equation.
	$$R_3 = \frac{\Omega_Z^2}{2Q^2} = \frac{3.4915^2}{2*1.8086^2} = 1.8635\text{ Ohm}$$

p.latex-equation.
	$$R_1 = R_4 = 1\text{ Ohm}$$

p.
	Υπολογίζεται το κέρδος της μονάδας στις υψηλές συχνότητες, χρησιμοποιώντας την εξίσωση #[span.course-notes-equation 7-143]:

p.latex-equation.
	$$k_{high} = \frac{R_4}{R_3+R_4} = \frac{1}{1.8635+1} = 0.3492$$

p.
	Υπολογίζεται το κέρδος της μονάδας στις χαμηλές συχνότητες, χρησιμοποιώντας τις εξισώσεις #[span.course-notes-equation 7-146], #[span.course-notes-equation 7-147] και #[span.course-notes-equation 7-148], θέτοντας s=0:

p.latex-equation.
	$$k_{low} = k_{high}\Omega_Z^2 = 0.3492*3.4915^2 = 4.2573$$

p #[strong Κλιμακοποίηση]

p.
	Γίνεται κλιμακoποίηση των στοιχείων της μονάδας για να μεταφερθούν οι συχνότητες στις πραγματικές τιμές. Επιλέγεται:

p.latex-equation.
	$$k_{f} = \omega_s\omega_0 = 72570.79*0.7484 = 54311.9$$

p.
	Με βάση τον αριθμό ΑΕΜ (8261) επιλέγεται κατάλληλος συντελεστής κλιμακοποίησης πλάτους ώστε να επιτευχθεί τιμή πυκνωτών ίση με 0.1μF, γίνεται χρήση του τύπου #[span.course-notes-equation 6-33]:

p.latex-equation.
	$$k_{m} = \frac{C_{old}}{k_fC_{new}} = \frac{0.2765}{54311.9*0.1*10^{-6}} = 50.9$$

div(style="page-break-before:always")
p Οι τελικές τιμές των στοιχείων φαίνονται στον παρακάτω πίνακα:

figure.block-center.width-15cm
	table.ui.celled.table.teal.striped.center.aligned
		thead
			tr
				th Στοιχείο/Κέρδος
				th(colspan="2") Τιμή
		tbody
			tr
				td C
				td(colspan="2") 0,1 μF
			tr
				td R#[sub 1]
				td(colspan="2") 50,9 Ohm
			tr
				td R#[sub 2]
				td(colspan="2") 665,9 Ohm
			tr
				td R#[sub 3]
				td(colspan="2") 94,8 Ohm
			tr
				td R#[sub 4]
				td(colspan="2") 50,9 Ohm
			tr
				td R#[sub 5]
				td(colspan="2") 59,5 Ohm
			tr
				td Κέρδος στις υψηλές συχνότητες
				td 0,3492
				td -9.14 dB
			tr
				td Κέρδος στις χαμηλές συχνότητες
				td 4,2573
				td 12.6 dB
	figcaption
		.reference #[span.table-count]
		.caption.
			Τιμές των στοιχείων της πρώτης μονάδας και κέρδη στις υψηλές και χαμηλές συχνότητες

p.
	Η συνάρτηση μεταφοράς της μονάδας υπολογίζεται χρησιμοποιώντας τις εξισώσεις #[span.course-notes-equation 7-146], #[span.course-notes-equation 7-147] και #[span.course-notes-equation 7-148]:

p.latex-equation.
	$$\begin{align*}
	T_{BE}(s) &= k_{high}\frac{s^2+\big[\frac{k_{high}-1}{k_{high}R_1C}+\frac{2}{R_2C}+\frac{2}{R_5C}\big]s+\big[\frac{1}{R_1R_5C^2}+\frac{1}{R_1R_2C^2}\big]}{s^2+\frac{2}{R_2C}s+\frac{1}{R_1R_2C^2}}= \\[3.5mm]
	&=0.3492\frac{s^2+\big[\frac{0.3492-1}{0.3492*50.9*0.1*10^{-6}}+\frac{2}{665.9*0.1*10^{-6}}+\frac{2}{59.5*0.1*10^{-6}}\big]s+\big[\frac{1}{50.9*59.5*(0.1*10^{-6})^2}+\frac{1}{50.9*665.9*(0.1*10^{-6})^2}\big]}{s^2+\frac{2}{665.9*0.1*10^{-6}}s+\frac{1}{50.9*665.9*(0.1*10^{-6})^2}} = \\[3.5mm]
	&=\frac{0.3492s^2+1.2559*10^{10}}{s^2+30031s+2.9499*10^9} 
	\end{align*}$$

h4 Ρύθμιση κέρδους

p.
	Με βάση τον αριθμό ΑΕΜ (8261) πραγματοποιείται ρύθμιση κέρδους με στόχο την επίτευξη κέρδους 0 dB στις χαμηλές συχνότητες.

p.
	Κατά την υλοποίηση των μονάδων Fried διαπιστώθηκε ότι κάθε μονάδα εισάγει ένα κέρδος. Κάτι το οποίο ήταν αναμενόμενο με βάση τη θεωρεία των μονάδων αυτών. Το συνολικό κέρδος που εισάγουν οι μονάδες είναι:

p.latex-equation.
	$$k = k_{low}^1k_{low}^2 = 0.4411*4.2573 = 1.878$$

div(style="page-break-before:always")
p.
	Για τη ρύθμιση του κέρδους χρησιμοποιείται μία αναστρέφουσα συνδεσμολογία με κέρδος:

p.latex-equation.
	$${k}' = \frac{1}{k} = \frac{1}{1.878} = 0.5324$$

p.
	Επιλέγεται η χρήση αντίστασης εισόδου ίσης με r#[sub 1]=10 kOhm. Έτσι η αντίσταση ανατροφοδότησης υπολογίζεται:

p.latex-equation.
	$$r_2 = r_1{k}' = 10*10^3*0.5324 = 5324\text{ Ohm}$$

h4 Συναρτήσεις μεταφοράς

p.
	Στον παρακάτω πίνακα φαίνονται οι συναρτήσεις μεταφοράς των επιμέρους μονάδων που υπολογίστηκαν παραπάνω:

figure.block-center.width-15cm
	table.ui.celled.table.teal.striped.center.aligned
		thead
			tr
				th Μονάδα
				th Συνάρτηση μεταφοράς
		tbody
			tr
				td Πρώτη μονάδα (Unit 1)
				td.
					$$T_{BE}^1(s) = \frac{0.3492s^2+2.1547*10^9}{s^2+120055s+4.8846*10^9}$$
			tr
				td Δεύτερη μονάδα (Unit 2)
				td.
					$$T_{BE}^2(s) = \frac{0.3492s^2+1.2559*10^{10}}{s^2+30031s+2.9499*10^9}$$
	figcaption
		.reference #[span.table-count]
		.caption.
			Συναρτήσεις μεταφοράς των επιμέρους μονάδων

p.
	Η συνολική συνάρτηση μεταφοράς του φίλτρου υπολογίζεται:

p.latex-equation.
	$$\begin{align*}
	T_{LP}(s) &= {k}'T_{BE}^1(s)T_{BE}^2(s) = \\[3.5mm]
	&=\frac{0.064938s^4+\cancelto{0}{(1.4175*10^{-12})}s^3+(2.736*10^9)s^2+\cancelto{0}{0.050975}s+1.4409*10^{19}}{s^4+150088s^3+(1.144*10^{10})s^2+(5.0082*10^{14})s+1.4409*10^{19}} = \\[3.5mm]
	&=\frac{0.064938s^4+(2.736*10^9)s^2+1.4409*10^{19}}{s^4+150088s^3+(1.144*10^{10})s^2+(5.0082*10^{14})s+1.4409*10^{19}}
	\end{align*}$$

div(style="page-break-before:always")
p.
	Στο παρακάτω σχήμα φαίνεται το τελικό κύκλωμα του φίλτρου:

figure.block-center.width-19cm
	img(src="1_low_pass/assets/diagrams/multisim_low_pass_inverse_chebyshev_circuit_layout_only_filter.svg").width-19cm
	figcaption
		.reference #[span.plot-count]
		.caption.
			Κύκλωμα κατωδιαβατού φίλτρου
