div(style="page-break-before:always")
h3 Μελέτη συνάρτησης μεταφοράς στο Matlab
p.
	Η σχεδίαση του φίλτρου έγινε στο λογισμικό Matlab. Σχεδιάστηκαν, με χρήση της συνάρτησης plot_transfer_function που δόθηκε καθώς και της ltiview που παρέχει το λογισμικό, οι αποκρίσεις πλάτους σε dB των επιμέρους μονάδων, καθώς και του συνολικού φίλτρου.

p.
	Παρακάτω φαίνονται οι αποκρίσεις όπως προέκυψαν στο Matlab από την plot_transfer_function, με ορίσματα κάθε φορά την συνάρτηση μεταφοράς του επί μέρους συστήματος, καθώς και τυχόν κρίσιμες συχνότητες:

figure.block-center.width-15cm
	img(src="1_low_pass/assets/diagrams/matlab_low_pass_inverse_chebyshev_notch_unit_1_transfer_function.svg").width-15cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Συνάρτηση μεταφοράς πρώτης μονάδας low pass notch (Fried).
		.caption.
			Παρατηρούμε ότι η μονάδα, ορθώς, έχει χαμηλότερη απόκριση στις υψηλές συχνότητες σε σχέση με τις χαμηλές. Στο γράφημα φαίνεται επίσης η απόκριση της συνάρτησης μεταφοράς στις χαμηλές συχνότητες, από όπου μπορούμε να επιβεβαιώσουμε ότι το κέρδος -7,1 dB που υπολογίστηκε νωρίτερα για την μονάδα είναι σωστό.

figure.block-center.width-15cm
	img(src="1_low_pass/assets/diagrams/matlab_low_pass_inverse_chebyshev_notch_unit_2_transfer_function.svg").width-15cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Συνάρτηση μεταφοράς δεύτερης μονάδας low pass notch (Fried).
		.caption.
			Παρατηρούμε ότι η μονάδα, ορθώς, έχει χαμηλότερη απόκριση στις υψηλές συχνότητες σε σχέση με τις χαμηλές. Στο γράφημα φαίνεται επίσης η απόκριση της συνάρτησης μεταφοράς στις χαμηλές συχνότητες, από όπου μπορούμε να επιβεβαιώσουμε ότι το κέρδος 12,6 dB που υπολογίστηκε νωρίτερα για την μονάδα είναι σωστό.

figure.block-center.width-15cm
	img(src="1_low_pass/assets/diagrams/matlab_low_pass_inverse_chebyshev_total_transfer_function.svg").width-15cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Συνολική συνάρτηση μεταφοράς φίλτρου.
		.caption.
			Παρατηρούμε ότι η συνάρτηση μεταφοράς του φίλτρου έχει το αναμενόμενο σχήμα ενός κατωδιαβατού αντίστροφου Chebyshev φίλτρου. Πιο συγκεκριμένα, στις χαμηλές συχνότητες η συνάρτηση μεταφοράς είναι επίπεδη, ενώ στην αποκοπή εμφανίζει ταλάντωση (ripples). Μάλιστα ο αριθμός των ripples (δύο) είναι σωστός με βάση τη τάξη του φίλτρου (τέταρτης τάξης) και τη θεωρία του αντίστροφου Chebyshev. Στο γράφημα φαίνεται επίσης η απόκριση της συνάρτησης μεταφοράς στις κρίσιμες συχνότητες: (τυχαία) χαμηλή συχνότητα=10 Hz, f#[sub p]=5500 Hz, f#[sub hp]=8313.16 Hz και f#[sub s]=11550 Hz.

figure.block-center.width-15cm
	img(src="1_low_pass/assets/diagrams/matlab_combined_transfer_functions_bode.svg").width-15cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Συνδυαστικό γράφημα συναρτήσεων μεταφοράς επιμέρους μονάδων και συνολικού φίλτρου.

figure.block-center.width-15cm
	img(src="1_low_pass/assets/diagrams/matlab_low_pass_inverse_chebyshev_total_attenuation.svg").width-15cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Απόσβεση φίλτρου.
		.caption.
			Στο γράφημα φαίνεται η απόσβεση του φίλτρου για τις κρίσιμες συχνότητες: (τυχαία) χαμηλή συχνότητα=10 Hz, f#[sub p]=5500 Hz, f#[sub hp]=8313.16 Hz και f#[sub s]=11550 Hz.

p.
	Στα γραφήματα 2.2.3 και 2.2.5 έχουν σημειωθεί οι κρίσιμες συχνότητες οι οποίες καθορίζουν την ζώνη διόδου και αποκοπής, δηλαδή η f#[sub p]=5500 Hz και η f#[sub s]=11550 Hz, καθώς και οι αντίστοιχες αποσβέσεις. Παρατηρούμε ότι η απόκριση του φίλτρου στην ζώνη διόδου είναι 0.07 dB, ενώ στη ζώνη αποκοπής είναι 23.75 dB. Επομένως είναι φανερό ότι πληρείτε ακριβώς η προδιαγραφή a#[sub min]=23.75 dB ενώ η προδιαγραφή a#[sub max]=0.35 dB υπερκαλύπτεται.

p.
	Η συνάρτηση απόσβεσης, πριν τη ρύθμιση κέρδους, δίνεται από το παρακάτω διάγραμμα:

figure.block-center.width-15cm
	img(src="1_low_pass/assets/diagrams/matlab_low_pass_inverse_chebyshev_original_gain_attenuation.svg").width-15cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Απόσβεση φίλτρου πριν τη ρύθμιση κέρδους.
		.caption.
			Στο γράφημα σημειώνονται οι ίδιες κρίσιμες συχνότητες: (τυχαία) χαμηλή συχνότητα=10 Hz, f#[sub p]=5500 Hz, f#[sub hp]=8313.16 Hz και f#[sub s]=11550 Hz.
