div(style="page-break-before:always")
// Chapter title
h2 Ανωδιαβατό φίλτρο Butterworth
br/

// Chapter description/introduction
p.
	Με βάση τον αριθμό ΑΕΜ (8261), υπολογίστηκαν οι προδιαγραφές του ανωδιαβατού φίλτρου προς σχεδίαση:

figure.block-center.width-15cm
	table.ui.celled.table.teal.striped.center.aligned
		thead
			tr
				th Προδιαγραφή
				th Τιμή
		tbody
			tr
				td Pass frequency (f#[sub p])
				td 5000 Hz
			tr
				td Pass radial frequency (ω#[sub p])
				td 31415.927 rad/s
			tr
				td Stop frequency (f#[sub s])
				td 1923.077 Hz
			tr
				td Stop radial frequency (ω#[sub s])
				td 12083.049 rad/s
			tr
				td Min stop attenuation (a#[sub min])
				td 24.667 dB
			tr
				td Max pass attenuation (a#[sub max])
				td 0.667 dB
	figcaption
		.reference #[span.table-count]
		.caption.
			Προδιαγραφές σχεδίασης ανωδιαβατού φίλτρου

figure.block-center.width-15cm
	img(src="4_high_pass/assets/diagrams/high_pass_general_transfer_function_plot.svg").width-15cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Ποιοτικό γράφημα συνάρτησης μεταφοράς ανωδιαβατού Butterworth φίλτρου.
		.caption.
			Στο γράφημα φαίνονται οι συχνότητες που ορίζουν τη ζώνη αποκοπής (f#[sub s]/ω#[sub s]) και τη ζώνη διόδου (f#[sub p]/ω#[sub p]), καθώς και οι προδιαγραφές α#[sub min] και α#[sub max].

// Sub-Chapters
include 4_high_pass_design
include 4_high_pass_transfer_function_matlab
include 4_high_pass_transfer_function_multisim
