div(style="page-break-before:always")
h3 Μελέτη συνάρτησης μεταφοράς στο Matlab
p.
	Η σχεδίαση του φίλτρου έγινε στο λογισμικό Matlab. Σχεδιάστηκαν, με χρήση της συνάρτησης plot_transfer_function που δόθηκε καθώς και της ltiview που παρέχει το λογισμικό, οι αποκρίσεις πλάτους σε dB των επιμέρους μονάδων, καθώς και του συνολικού φίλτρου.

p.
	Παρακάτω φαίνονται οι αποκρίσεις όπως προέκυψαν στο Matlab από την plot_transfer_function, με ορίσματα κάθε φορά την συνάρτηση μεταφοράς του επί μέρους συστήματος, καθώς και τυχόν κρίσιμες συχνότητες:

figure.block-center.width-15cm
	img(src="4_high_pass/assets/diagrams/matlab_high_pass_butterworth_sallen_key_unit_1_transfer_function.svg").width-15cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Συνάρτηση μεταφοράς πρώτης υψηπερατής μονάδας Sallen-Key.
		.caption.
			Στο γράφημα φαίνεται η απόκριση της συνάρτησης μεταφοράς στις υψηλές συχνότητες, από όπου μπορούμε να επιβεβαιώσουμε ότι το κέρδος 1.23 dB που υπολογίστηκε νωρίτερα για την μονάδα είναι σωστό.

figure.block-center.width-15cm
	img(src="4_high_pass/assets/diagrams/matlab_high_pass_butterworth_sallen_key_unit_2_transfer_function.svg").width-15cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Συνάρτηση μεταφοράς δεύτερης υψηπερατής μονάδας Sallen-Key.
		.caption.
			Στο γράφημα φαίνεται η απόκριση της συνάρτησης μεταφοράς στις υψηλές συχνότητες, από όπου μπορούμε να επιβεβαιώσουμε ότι το κέρδος 6.98 dB που υπολογίστηκε νωρίτερα για την μονάδα είναι σωστό.

figure.block-center.width-15cm
	img(src="4_high_pass/assets/diagrams/matlab_high_pass_butterworth_total_transfer_function.svg").width-15cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Συνολική συνάρτηση μεταφοράς φίλτρου.
		.caption.
			Παρατηρούμε ότι η συνάρτηση μεταφοράς του φίλτρου έχει το αναμενόμενο σχήμα ενός ανωδιαβατού Butterworth φίλτρου. Πιο συγκεκριμένα, στις χαμηλές συχνότητες η συνάρτηση μεταφοράς είναι γνησίως αύξουσα, ενώ στην αποκοπή είναι επίπεδη. Στο γράφημα φαίνεται επίσης η απόκριση της συνάρτησης μεταφοράς στις κρίσιμες συχνότητες: f#[sub s]=1923.077 Hz, f#[sub hp]=3994.44 Hz, f#[sub p]=5000 Hz και (τυχαία) υψηλή συχνότητα=90000 Hz.

figure.block-center.width-15cm
	img(src="4_high_pass/assets/diagrams/matlab_combined_transfer_functions_bode.svg").width-15cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Συνδυαστικό γράφημα συναρτήσεων μεταφοράς επιμέρους μονάδων και συνολικού φίλτρου.

figure.block-center.width-15cm
	img(src="4_high_pass/assets/diagrams/matlab_high_pass_butterworth_total_attenuation.svg").width-15cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Απόσβεση φίλτρου.
		.caption.
			Στο γράφημα φαίνεται η απόσβεση του φίλτρου για τις κρίσιμες συχνότητες: f#[sub s]=1923.077 Hz, f#[sub hp]=3994.44 Hz, f#[sub p]=5000 Hz και (τυχαία) υψηλή συχνότητα=90000 Hz.

p.
	Στα γραφήματα 5.2.3 και 5.2.5 έχουν σημειωθεί οι κρίσιμες συχνότητες οι οποίες καθορίζουν την ζώνη διόδου και αποκοπής, δηλαδή η f#[sub p]=5000 Hz και η f#[sub s]=1923.077 Hz, καθώς και οι αντίστοιχες αποσβέσεις. Παρατηρούμε ότι η απόκριση του φίλτρου στην ζώνη διόδου είναι 0.67 dB (10-9,33), ενώ στη ζώνη αποκοπής είναι 25.41 dB (10-(-15.41)). Επομένως είναι φανερό ότι πληρείτε ακριβώς η προδιαγραφή a#[sub max]=0.666 dB ενώ η προδιαγραφή a#[sub min]=24.666 dB υπερκαλύπτεται.

p.
	Η συνάρτηση απόσβεσης, πριν τη ρύθμιση κέρδους, δίνεται από το παρακάτω διάγραμμα:

figure.block-center.width-15cm
	img(src="4_high_pass/assets/diagrams/matlab_high_pass_butterworth_original_gain_attenuation.svg").width-15cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Απόσβεση φίλτρου πριν τη ρύθμιση κέρδους.
		.caption.
			Στο γράφημα σημειώνονται οι ίδιες κρίσιμες συχνότητες: f#[sub s]=1923.077 Hz, f#[sub hp]=3994.44 Hz, f#[sub p]=5000 Hz και (τυχαία) υψηλή συχνότητα=90000 Hz.
