div(style="page-break-before:always")
// Chapter title
h2 Εισαγωγή
br/

// Chapter description/introduction
h3 Περίληψη
p.
	Στην εργασία αυτή ζητήθηκε ο σχεδιασμός τεσσάρων (4) διαφορετικών φίλτρων, ενός κατωδιαβατού, ενός ζωνοπερατού, ενός ζωνοφρακτικού και ενός ανωδιαβατού. Κατά την ανάθεση των φίλτρων, μου ανατέθηκε ο εξής συνδυασμός φίλτρων-τύπων φίλτρου:

figure.block-center.width-15cm
	table.ui.celled.table.teal.striped.center.aligned
		thead
			tr
				th Φίλτρο
				th Τύπος φίλτρου
		tbody
			tr
				td Κατωδιαβατό
				td Αντίστροφο Chebyshev
			tr
				td Ζωνοπερατό
				td Chebyshev
			tr
				td Ζωνοφρακτικό
				td Chebyshev
			tr
				td Ανωδιαβατό
				td Butterworth
	figcaption
		.reference #[span.table-count]
		.caption.
			Συνδυασμός φίλτρων και υλοποιήσεων (τύπων) φίλτρου προς υλοποίηση


h3 Σύμβαση ονοματολογίας και ειδικοί όροι
p.
	Στα πλαίσια της εργασίας γίνεται χρήση των εξής όρων με τις αντίστοιχες σημασίες:

figure.block-center.width-15cm
	table.ui.celled.table.teal.striped.center.aligned.compact
		thead
			tr
				th Όρος
				th Περιγραφή
		tbody
			tr
				td πόλος
				td Μπορεί να εννοείται ζεύγος συζυγών πόλων #[br/](έναντι ενός, μοναδικού πόλου)
			tr
				td LP
				td Low pass filter
			tr
				td BP
				td Band pass filter
			tr
				td BE
				td Band elimination filter
			tr
				td HP
				td High pass filter
			tr
				td LPN
				td Low pass notch filter
			tr
				td HPN
				td High pass notch filter
	figcaption
		.reference #[span.table-count]
		.caption.
			Ειδικοί όροι που χρησιμοποιούνται.

br/
br/

p.
	#[strong Σημείωση:] Τα διάγραμμα των οργάνων του Multisim παράχθηκαν στο Matlab, ωστόσο οι τιμές εξάχθηκαν από το Multisim. Αυτό έγινε για παραγωγή καλύτερης ποιότητας διαγραμμάτων σε σχέση με άλλες μεθόδους όπως screenshot. Μετά την διεξαγωγή των πειραμάτων, χρησιμοποιήθηκε το view "Grapher" του Multisim, από το οποίο αποκτήθηκαν αρχεία comma separated values (.csv) για κάθε όργανο, τα οποία περιείχαν τις τιμές των αποτελεσμάτων. Έπειτα τα αρχεία χρησιμοποιήθηκαν στο Matlab για την παραγωγή όμορφων διαγραμμάτων σε μορφή scalable vector graphics (.svg) τα οποία παραμένουν αναλλοίωτα στη μεγέθυνση.

br/

p.
	#[strong Σημείωση:] Στα φίλτρα στα οποία, κατά τη σχεδίαση, προκύπτει μονός αριθμός από αναστρέφουσες μονάδες το σήμα στην έξοδο είναι ανεστραμμένο σε σχέση με αυτό της εισόδου. Για να αντισταθμιστεί αυτό, στη μελέτη και στα διαγράμματα που εξάχθηκαν από το Multisim, χρησιμοποιήθηκε η επιλογή αντιστροφής (-) στο κανάλι της εξόδου στους παλμογράφους. Μία άλλη λύση είναι να εισαχθεί μία επιπλέον αναστρέφουσα μονάδα με κέρδος ένα (0 dB) ώστε να διορθωθεί η φάση του σήματος στην έξοδο. Ωστόσο αυτό θα σήμαινε τη χρήση ενός ακόμα τελεστικού ενισχυτή.
	#[br/]
	Σε κάθε περίπτωση, η αντιστροφή της φάσης του σήματος εξόδου δεν επηρεάζει την ανάλυση των φίλτρων. Η σχεδίαση και τα συμπεράσματα της ανάλυσης παραμένουν σωστά.
