div(style="page-break-before:always")
h3 Σχεδίαση φίλτρου
p.
	Για τη σχεδίαση του φίλτρου ακολουθήθηκε η διαδικασία που περιγράφεται στο κεφάλαιο 11 των σημειώσεων του μαθήματος:

figure.block-center.width-15cm
	div.ui.list.ordered.celled.striped
		div.item Υπολογισμός των προδιαγραφών ενός πρωτότυπου κατωδιαβατού Chebyshev φίλτρου, μέσω των προδιαγραφών του επιθυμητού ζωνοδιαβατού φίλτρου.
		div.item Υπολογισμός της τάξης και της συχνότητας ημίσειας ισχύος του πρωτότυπου φίλτρου.
		div.item Υπολογισμός των πόλων του πρότυπου φίλτρου Chebyshev.
		div.item Υπολογισμός των πόλων και μηδενικών του ζωνοδιαβατού φίλτρου μέσω μετασχηματισμού των πόλων του πρωτότυπου με χρήση του αλγόριθμου Geffe.
		div.item Ομαδοποίηση των ζευγών πόλων και μηδενικών ανά δύο. Από την ομαδοποίηση προκύπτουν ζωνοδιαβατές μονάδες που υλοποιούνται με κυκλώματα Delyiannis-Fried.
		div.item Υλοποίηση των φίλτρων Delyiannis-Fried με βάση τα κυκλώματα του κεφαλαίου 7.
		div.item Κλιμακοποίηση του κυκλώματος με στόχο τη μεταφορά στις πραγματικές συχνότητες και σε στοιχεία με πρακτικές (υλοποιήσιμες) τιμές.
		div.item Έλεγχος των κερδών των μονάδων και ρύθμιση κέρδους με επιβολή απόσβεσης ή ενίσχυσης.

h4 Υπολογισμός συνάρτησης μεταφοράς


p Αρχικά υπολογίζεται η κεντρική συχνότητα χρησιμοποιώντας την εξίσωση #[span.course-notes-equation 11-2]:

p.latex-equation.
	$$\omega_0 = \sqrt{\omega_1\omega_2}=\sqrt{5026.548*6361.725}=5654.867\frac{\text{rad}}{\text{s}}$$

p.
	Η κεντρική συχνότητα που υπολογίστηκε προκύπτει ίση με αυτή που δίνεται στην εκφώνηση, επιβεβαιώνεται έτσι ότι οι συχνότητες ω#[sub 1] - ω#[sub 4] υπολογίστηκαν σωστά.

p.
	Υπολογίζεται το εύρος ζώνης διόδου χρησιμοποιώντας την εξίσωση #[span.course-notes-equation 11-52]:

p.latex-equation.
	$$bw = \omega_2-\omega_1=6361.725-5026.548=1335.177\text{ rad}$$

p.
	Σχεδιάζεται ένα πρότυπο κατωδιαβατό Chebyshev φίλτρο, το οποίο αργότερα θα μετατραπεί στο επιθυμητό ζωνοδιαβατό Chebyshev.

p Υπολογίζονται οι προδιαγραφές του πρωτότυπου κατωδιαβατού χρησιμοποιώντας τις εξισώσεις #[span.course-notes-equation 11-56]:

p.latex-equation.
	$$\Omega_p = 1\frac{rad}{s}$$
	και $$\Omega_S = \frac{\omega_4-\omega_3}{\omega_2-\omega_1} = \frac{2937.389}{1335.177} = 2.2\frac{rad}{s}$$

p Οι προδιαγραφές απόσβεσης παραμένουν ίδιες.

div(style="page-break-before:always")
p Υπολογίζεται η τάξη του φίλτρου χρησιμοποιώντας την εξίσωση #[span.course-notes-equation 9-83]:

p.latex-equation.
	$$n = \left \lceil \frac{\cosh^{-1}\bigg(\sqrt{\frac{10^{\frac{a_{min}}{10}}-1}{10^{\frac{a_{max}}{10}}-1}}\bigg)}{\cosh^{-1}\Omega_S} \right \rceil = \left \lceil \frac{\cosh^{-1}\bigg(\sqrt{\frac{10^{2.8556}-1}{10^{0.0667}-1}}\bigg)}{\cosh^{-1}(2.2)} \right \rceil = \left \lceil \frac{4.87789}{1.42542} \right \rceil = \left \lceil 3.422 \right \rceil = 4$$

p.
	Από τον παραπάνω τύπο φαίνεται ότι κατά τον υπολογισμό της τάξης του φίλτρου γίνεται στρογγυλοποίηση της τάξης προς τον επόμενο #[strong μεγαλύτερο] ακέραιο. Αυτό γίνεται επειδή δεν είναι δυνατή η υλοποίηση ενός φίλτρου ρητής τάξεως, έτσι είναι απαραίτητο η τάξη να στρογγυλοποιηθεί. Η στρογγυλοποίηση είναι σημαντικό να γίνει προς τα επάνω (ceiling) ώστε να επιτευχθούν οι προδιαγραφές του φίλτρου. Μία πιθανή στρογγυλοποίηση προς τα κάτω θα είχε ως αποτέλεσμα την αποτυχία στη σχεδίαση.

p.
	Λόγω της στρογγυλοποίησης αυτής, αναμένεται μάλιστα να υπάρχει υπερκάλυψη σε τουλάχιστον μία από τις προδιαγραφές. Στη συγκεκριμένη περίπτωση, λόγω της επιλογής κανονικοποίησης ως προς το pass band, αναμένεται να υπάρχει υπερκάλυψη της προδιαγραφής a#[sub max].

p.
	Στη συνέχεια υπολογίζονται οι παράμετροι ε και α από τις εξισώσεις #[span.course-notes-equation 9-76] και #[span.course-notes-equation 9-92] αντίστοιχα:

p.latex-equation.
	$$\varepsilon = \sqrt{10^{\frac{a_{max}}{10}}-1} = \sqrt{10^{0.0667}-1} = 0.407$$
p.latex-equation.
	$$\alpha = \frac{\sinh^{-1}(\frac{1}{\varepsilon})}{n} = \frac{\sinh^{-1}(\frac{1}{0.407})}{4} = 0.408$$

p.
	Υπολογίζεται η κανονικοποιημένη συχνότητα ημίσειας ισχύος χρησιμοποιώντας την εξίσωση #[span.course-notes-equation 9-80]:

p.latex-equation.
	$$\Omega_{hp} = cosh(\frac{1}{n}cosh^{-1}(\frac{1}{\varepsilon})) = cosh(\frac{1}{4}cosh^{-1}(\frac{1}{0.407})) = 1.076\frac{rad}{s}$$

div(style="page-break-before:always")
p Οι πραγματικές συχνότητες προκύπτουν μετασχηματίζοντας την κανονικοποιημένη, χρησιμοποιώντας την εξίσωση #[span.course-notes-equation 11-53]:

p.latex-equation.
	$$\begin{matrix} \Omega_{hp}=-\frac{-\omega^2+\omega_0^2}{\omega(\omega_2-\omega_1)} \Rightarrow \\[1.1em] \omega^2-\Omega_{hp}*bw*\omega-\omega_0^2 = 0 \Rightarrow \\[1.1em] \omega^2-1.076*1335.177*\omega-(5654.867)^2 = 0 \Rightarrow \left\{\begin{matrix} \omega_1 = 4982.146\frac{rad}{s} \\[1.1em] \omega_2 = 6418.423\frac{rad}{s} \end{matrix}\right. \end{matrix}$$

p.
	Οι γωνίες Butterworth μπορούν να υπολογιστούν με βάση τον αλγόριθμο Guillemin ή να βρεθούν απευθείας από γνωστούς πίνακες γωνιών Butterworth. Για φίλτρο τέταρτης τάξης, οι γωνίες είναι:

p.latex-equation.
	$$\pm 22.5^\circ$$ και $$\pm 67.5^\circ$$

p.
	Με βάση τις εξισώσεις #[span.course-notes-equation 9-102] και #[span.course-notes-equation 9-103]:

p.latex-equation.
	$$\sigma_k = -\sinh(\alpha)*\cos(\theta)$$
	$$\Omega_k = \cosh(\alpha)*\sin(\theta)$$

p προκύπτουν οι πόλοι #[strong Chebyshev]:

p.latex-equation.
	$$\text{Pole 1: } -0.387\pm0.415\mathrm{i}$$
	$$\text{Pole 2: } -0.16±1.002\mathrm{i}$$

p.
	Οι πόλοι μετασχηματίζονται με χρήση του αλγόριθμου Geffe. Κάθε ζεύγος μιγαδικών πόλων παράγει, κατά τον μετασχηματισμό, δύο νέα ζεύγη μιγαδικών πόλων με ίδιο Q και διαφορετικά ω. Οι απαραίτητες παράμετροι υπολογίζονται χρησιμοποιώντας τις εξισώσεις #[span.course-notes-equation 11-6], #[span.course-notes-equation 11-28] έως και #[span.course-notes-equation 11-35], #[span.course-notes-equation 11-37b]:

p.latex-equation.
	$$\begin{matrix} 11-6: & q_c=\frac{\omega_0}{bw}\\[1em]  11-28: & C=\Sigma_2^2+\Omega_2^2\\[1em]  11-29: & D=\frac{2\Sigma_2}{q_c}\\ \end{matrix}$$

div(style="page-break-before:always")
p.latex-equation.
	$$\begin{matrix} 11-30: & E=4+\frac{C}{q_c^2}\\[1em]  11-31: & G=\sqrt{E^2-4D^2}\\[1em]  11-32: & Q=\frac{1}{D}\sqrt{\frac{1}{2}(E+G)}\\[1em]  11-33: & k=\frac{\Sigma_2Q}{q_c}\\[1em]  11-34: & W=k+\sqrt{k^2-1}\\[1em]  11-35: & \omega_{02}=W\omega_0 \hspace{3mm} \& \hspace{3mm} \omega_{01}=\frac{\omega_0}{W}\\[1em]  11-37b: & \psi_{ki}=\cos^{-1}(\frac{1}{2Q}) \end{matrix}$$

p.
	Στον παρακάτω πίνακα φαίνονται οι τιμές των παραμέτρων του αλγόριθμου Geffe για κάθε πόλο του πρωτότυπου φίλτρου, καθώς και οι μετασχηματισμένοι πόλοι που προκύπτουν:

figure.block-center.width-15cm
	table.ui.celled.table.teal.striped.center.aligned
		thead
			tr
				th Παράμετρος
				th Pole 1
				th Pole 2
		tbody
			tr
				td q#[sub c]
				td 4.2353
				td 4.2353
			tr
				td C
				td 0.322
				td 1.0291
			tr
				td D
				td 0.1828
				td 0.0757
			tr
				td E
				td 4.018
				td 4.0574
			tr
				td G
				td 4.0013
				td 4.0545
			tr
				td Q
				td 10.9546
				td 26.5991
			tr
				td k
				td 1.0012
				td 1.007
			tr
				td W
				td 1.0502
				td 1.1252
			tr
				td ω
				td.
					ω#[sub 01] = 5938.942
					#[br]
					ω#[sub 02] = 5384.379
				td.
					ω#[sub 03] = 6363.121
					#[br]
					ω#[sub 04] = 5025.446
			tr
				td ψ#[sub ki]
				td ±87.38°
				td ±88.92°
	figcaption
		.reference #[span.table-count]
		.caption.
			Τιμές παραμέτρων αλγόριθμου Geffe

div(style="page-break-before:always")
p.
	Επομένως από τον μετασχηματισμό προκύπτουν οι πόλοι του #[strong ζωνοδιαβατού Chebyshev]:

p.latex-equation.
	$$\text{Pole 1: } \omega_0 = 5938.942 \text{, }Q = 10.9546$$
	$$\text{Pole 2: } \omega_0 = 5384.379 \text{, }Q = 10.9546$$
	$$\text{Pole 3: } \omega_0 = 6363.121 \text{, }Q = 26.5991$$
	$$\text{Pole 4: } \omega_0 = 5025.446 \text{, }Q = 26.5991$$

p.
	Κατά τον μετασχηματισμό προκύπτουν επίσης, με βάση τον μετασχηματισμό Geffe, τα μηδενικά της συνάρτησης μεταφοράς:

p.latex-equation.
	$$\text{Zero 1: } 0+0\mathrm{i}$$
	$$\text{Zero 2: } 0+0\mathrm{i}$$
	$$\text{Zero 3: } 0+0\mathrm{i}$$
	$$\text{Zero 4: } 0+0\mathrm{i}$$

p.
	Οι πόλοι και τα μηδενικά του φίλτρου φαίνονται στο παρακάτω διάγραμμα:

figure.block-center.width-19cm
	img(src="2_band_pass/assets/diagrams/matlab_band_pass_chebyshev_zero_pole.svg").width-19cm
	figcaption
		.reference #[span.plot-count]
		.title.
			Πόλοι και μηδενικά του Chebyshev.
		.caption.
			Παρατηρείται ότι τα ζεύγη μιγαδικών πόλων έχουν, ανά δύο, το ίδιο Q (ίδια γωνία).

div(style="page-break-before:always")
p.
	Κάθε ζεύγος πόλων υλοποιείται από ένα κύκλωμα Deliyannis-Friend, προκύπτουν έτσι οι παρακάτω ζωνοδιαβατές μονάδες προς υλοποίηση:

figure.block-center.width-19cm
	img(src="2_band_pass/assets/diagrams/band_pass_chebyshev_units_diagram.svg").width-19cm
	figcaption
		.reference #[span.plot-count]
		.caption.
			Μονάδες Deliyannis-Friend προς υλοποίηση

h4 Υλοποίηση συνάρτησης μεταφοράς

p.
	Από τον αριθμό ΑΕΜ (8261) υποδεικνύεται η χρήση των κυκλωμάτων Deliyannis-Friend του κεφαλαίου 7, με χρήση της πρώτης στατηγικής σχεδίασης (Στρατηγική 1).

h5 Μονάδα 1

p Η πρώτη μονάδα Deliyannis-Friend δεύτερης τάξης, πρέπει να υλοποιεί:

figure.block-center.width-15cm
	table.ui.celled.table.teal.striped.center.aligned
		thead
			tr
				th Προδιαγραφή
				th Τιμή
		tbody
			tr
				td ω#[sub 01]
				td 5938.942
			tr
				td Q
				td 10.9546
			tr
				td ω#[sub z]
				td 0+0j
			tr
				td Angle
				td ±87.38°
	figcaption
		.reference #[span.table-count]
		.caption.
			Προδιαγραφές πρώτης ζωνοδιαβατής μονάδας Deliyannis-Friend

p.
	Υπολογίζεται το BW χρησιμοποιώντας την εξίσωση #[span.course-notes-equation 7-62]:

p.latex-equation.
	$$BW=\frac{\omega_{01}}{Q}=\frac{5938.942}{10.9546}= 542.1426\frac{\text{rad}}{\text{s}}$$

p.
	Υπολογίζονται τα στοιχεία του κυκλώματος του φίλτρου, με χρήση της μεθοδολογίας που περιγράφεται στο κεφάλαιο 7.3-1 (σελίδα 20) και των εξισώσεων #[span.course-notes-equation 7-86] εώς και #[span.course-notes-equation 7-89]:

p.latex-equation.
	$$C_1 = C_2 = C = \frac{1}{2Q} = \frac{1}{2*10.9546} = 0.04564\text{ F}$$

div(style="page-break-before:always")
p.latex-equation.
	$$R_1 = 1\text{ Ohm}$$

p.latex-equation.
	$$R_2 = 4Q^2 = 4*10.9546^2 = 480.0109\text{ Ohm}$$

p #[strong Κλιμακοποίηση]

p.
	Γίνεται κλιμακoποίηση των στοιχείων της μονάδας για να μεταφερθούν οι συχνότητες στις πραγματικές τιμές. Επιλέγεται:

p.latex-equation.
	$$k_{f} = \omega_{01} = 5938.942$$

p.
	Με βάση τον αριθμό ΑΕΜ (8261) επιλέγεται κατάλληλος συντελεστής κλιμακοποίησης πλάτους ώστε να επιτευχθεί τιμή πυκνωτών ίση με 0.1μF, γίνεται χρήση του τύπου #[span.course-notes-equation 6-33]:

p.latex-equation.
	$$k_{m} = \frac{C_{old}}{k_fC_{new}} = \frac{0.04564}{5938.942*0.1*10^{-6}} = 76.8538$$

p.
	Οι τιμές των στοιχείων μετά την κλιμακοποίηση είναι:

p.latex-equation.
	$$C_1 = C_2 = 0.1\text{ μF}$$
	$$R_1 = 76.8538\text{ Ohm}$$
	$$R_2 = 36891\text{ Ohm}$$

p.
	Υπολογίζεται το κέρδος της μονάδας στην κεντρική της συχνότητα (ω#[sub 01]), χρησιμοποιώντας την εξίσωση #[span.course-notes-equation 7-89]:

p.latex-equation.
	$$T_{BP(j1)} = 2Q^2 = 240.0055$$

p.
	Μεγαλύτερο ενδιαφέρον, όμως, έχει το κέρδος στη κεντρική συχνότητα του φίλτρου (5654.867 rad/s) το οποίο υπολογίζεται χρησιμοποιώντας την εξίσωση #[span.course-notes-equation 11-58]:

p.latex-equation.
	$$\begin{align*} \left | T_{BP_1(s)} \right | &= \sqrt{\frac{(2Q_1\omega_{01}\omega)^2}{(\omega_{01}^2-\omega^2)^2+\big(\frac{\omega_{01}}{Q_1}\big)^2\omega^2}} \\[1em] &= \sqrt{\frac{(2*10.9546*5938.942*5654.867)^2}{(5938.942^2-5654.867^2)^2+\big(\frac{5938.942}{10.9546}\big)^2*5654.867^2}} = 163.5260 \\ \end{align*}$$

div(style="page-break-before:always")
p #[strong Ρύθμιση κέρδους]

p.
	Με βάση τον αριθμό ΑΕΜ (8261) πραγματοποιείται ρύθμιση κέρδους με στόχο την επίτευξη κέρδους 0 dB στη ζώνη διόδου.

p.
	Με βάση το κέρδος της μονάδας στην κεντρική συχνότητα του φίλτρου υπολογίζεται η απόσβεση που πρέπει να εφαρμοστεί στην είσοδο της μονάδας με έναν διαιρέτη τάσης:

p.latex-equation.
	$$\alpha = \frac{1}{\left | T_{BP_1(s)} \right |} = 0.0061$$

p.
	Οι αντιστάσεις του διαιρέτη υπολογίζονται χρησιμοποιώντας τις εξισώσεις #[span.course-notes-equation 7-90] (πιο συγκεκριμένα, στη μορφή που έχουν στο παράδειγμα 7.2):

p.latex-equation.
	$$Z_2 = \frac{R_1}{\alpha} = \frac{76.8538}{0.0061} = 12568\text{ Ohm}$$
	$$Z_3 = \frac{R_1}{1-\alpha} = \frac{76.8538}{1-0.0061} = 77.3267\text{ Ohm}$$

p Οι τελικές τιμές των στοιχείων φαίνονται στον παρακάτω πίνακα:

figure.block-center.width-15cm
	table.ui.celled.table.teal.striped.center.aligned
		thead
			tr
				th Στοιχείο/Κέρδος
				th Τιμή
		tbody
			tr
				td C#[sub 1] = C#[sub 2]
				td(colspan="2") 0.1 μF
			tr
				td R#[sub 2]
				td(colspan="2") 36890.663 Ohm
			tr
				td Ζ#[sub 2]
				td(colspan="2") 12567.597 Ohm
			tr
				td Ζ#[sub 3]
				td(colspan="2") 77.327 Ohm
	figcaption
		.reference #[span.table-count]
		.caption.
			Τιμές των στοιχείων της πρώτης μονάδας

div(style="page-break-before:always")
p.
	Υπολογίζεται η συνάρτηση μεταφοράς της μονάδας:

p.latex-equation.
	$$\begin{align*} T_{BP(s)} &= -\frac{\frac{1}{Z_2C}s}{s^2+\frac{2}{CR_2}s+\frac{1}{C^2R_2(Z2||Z3)}} \\[1em] &=-\frac{\frac{1}{12567.597*0.1*10^{-6}}s}{s^2+\frac{2}{0.1*10^{-6}36890.663}s+\frac{1}{(0.1*10^-6)^2*36890.663(12567.597||77.327)}} \\[1em] &=-\frac{795.697s}{s^2+542.1426s+35270884.89} \end{align*}$$

h5 Μονάδα 2

p Η δεύτερη μονάδα Deliyannis-Friend δεύτερης τάξης, πρέπει να υλοποιεί:

figure.block-center.width-15cm
	table.ui.celled.table.teal.striped.center.aligned
		thead
			tr
				th Προδιαγραφή
				th Τιμή
		tbody
			tr
				td ω#[sub 02]
				td 5384.379
			tr
				td Q
				td 10.9546
			tr
				td ω#[sub z]
				td 0+0j
			tr
				td Angle
				td ±87.38°
	figcaption
		.reference #[span.table-count]
		.caption.
			Προδιαγραφές δεύτερης ζωνοδιαβατής μονάδας Deliyannis-Friend

p.
	Υπολογίζεται το BW χρησιμοποιώντας την εξίσωση #[span.course-notes-equation 7-62]:

p.latex-equation.
	$$BW=\frac{\omega_{02}}{Q}=\frac{5384.379}{10.9546}= 491.5187\frac{\text{rad}}{\text{s}}$$

p.
	Υπολογίζονται τα στοιχεία του κυκλώματος του φίλτρου, με χρήση της μεθοδολογίας που περιγράφεται στο κεφάλαιο 7.3-1 (σελίδα 20) και των εξισώσεων #[span.course-notes-equation 7-86] εώς και #[span.course-notes-equation 7-89]:

p.latex-equation.
	$$C_1 = C_2 = C = \frac{1}{2Q} = \frac{1}{2*10.9546} = 0.04564\text{ F}$$

p.latex-equation.
	$$R_1 = 1\text{ Ohm}$$

div(style="page-break-before:always")
p.latex-equation.
	$$R_2 = 4Q^2 = 4*10.9546^2 = 480.0109\text{ Ohm}$$

p #[strong Κλιμακοποίηση]

p.
	Γίνεται κλιμακoποίηση των στοιχείων της μονάδας για να μεταφερθούν οι συχνότητες στις πραγματικές τιμές. Επιλέγεται:

p.latex-equation.
	$$k_{f} = \omega_{02} = 5384.379$$

p.
	Με βάση τον αριθμό ΑΕΜ (8261) επιλέγεται κατάλληλος συντελεστής κλιμακοποίησης πλάτους ώστε να επιτευχθεί τιμή πυκνωτών ίση με 0.1μF, γίνεται χρήση του τύπου #[span.course-notes-equation 6-33]:

p.latex-equation.
	$$k_{m} = \frac{C_{old}}{k_fC_{new}} = \frac{0.04564}{5384.379*0.1*10^{-6}} = 84.7693$$

p.
	Οι τιμές των στοιχείων μετά την κλιμακοποίηση είναι:

p.latex-equation.
	$$C_1 = C_2 = 0.1\text{ μF}$$
	$$R_1 = 84.7693\text{ Ohm}$$
	$$R_2 = 40690\text{ Ohm}$$

p.
	Υπολογίζεται το κέρδος της μονάδας στην κεντρική της συχνότητα (ω#[sub 02]), χρησιμοποιώντας την εξίσωση #[span.course-notes-equation 7-89]:

p.latex-equation.
	$$T_{BP(j1)} = 2Q^2 = 240.0055$$

p.
	Μεγαλύτερο ενδιαφέρον, όμως, έχει το κέρδος στη κεντρική συχνότητα του φίλτρου (5654.867 rad/s) το οποίο υπολογίζεται χρησιμοποιώντας την εξίσωση #[span.course-notes-equation 11-58]:

p.latex-equation.
	$$\begin{align*} \left | T_{BP_2(s)} \right | &= \sqrt{\frac{(2Q_2\omega_{02}\omega)^2}{(\omega_{02}^2-\omega^2)^2+\big(\frac{\omega_{02}}{Q_2}\big)^2\omega^2}} \\[1em] &= \sqrt{\frac{(2*10.9546*5384.379*5654.867)^2}{(5384.379^2-5654.867^2)^2+\big(\frac{5384.379}{10.9546}\big)^2*5654.867^2}} \\[1em] &= 163.5260 \\ \end{align*}$$

div(style="page-break-before:always")
p #[strong Ρύθμιση κέρδους]

p.
	Με βάση τον αριθμό ΑΕΜ (8261) πραγματοποιείται ρύθμιση κέρδους με στόχο την επίτευξη κέρδους 0 dB στη ζώνη διόδου.

p.
	Με βάση το κέρδος της μονάδας στην κεντρική συχνότητα του φίλτρου υπολογίζεται η απόσβεση που πρέπει να εφαρμοστεί στην είσοδο της μονάδας με έναν διαιρέτη τάσης:

p.latex-equation.
	$$\alpha = \frac{1}{\left | T_{BP_2(s)} \right |} = 0.0061$$

p.
	Οι αντιστάσεις του διαιρέτη υπολογίζονται χρησιμοποιώντας τις εξισώσεις #[span.course-notes-equation 7-90]:

p.latex-equation.
	$$Z_2 = \frac{R_1}{\alpha} = \frac{84.7693}{0.0061} = 13862\text{ Ohm}$$
	$$Z_3 = \frac{R_1}{1-\alpha} = \frac{84.7693}{1-0.0061} = 85.2909\text{ Ohm}$$

p Οι τελικές τιμές των στοιχείων φαίνονται στον παρακάτω πίνακα:

figure.block-center.width-15cm
	table.ui.celled.table.teal.striped.center.aligned
		thead
			tr
				th Στοιχείο/Κέρδος
				th Τιμή
		tbody
			tr
				td C#[sub 1] = C#[sub 2]
				td(colspan="2") 0.1 μF
			tr
				td R#[sub 2]
				td(colspan="2") 40690.209 Ohm
			tr
				td Ζ#[sub 2]
				td(colspan="2") 13861.994 Ohm
			tr
				td Ζ#[sub 3]
				td(colspan="2") 85.291 Ohm
	figcaption
		.reference #[span.table-count]
		.caption.
			Τιμές των στοιχείων της δεύτερης μονάδας

p.
	Υπολογίζεται η συνάρτηση μεταφοράς της μονάδας:

p.latex-equation.
	$$\begin{align*} T_{BP(s)} &= -\frac{\frac{1}{Z_2C}s}{s^2+\frac{2}{CR_2}s+\frac{1}{C^2R_2(Z2||Z3)}} \\[0.6em] &=-\frac{\frac{1}{13861.994*0.1*10^{-6}}s}{s^2+\frac{2}{0.1*10^{-6}40690.209}s+\frac{1}{(0.1*10^-6)^2*40690.209(13861.994||85.291)}} \\[0.6em] &=-\frac{721.397s}{s^2+491.5187s+28991510.41} \end{align*}$$

div(style="page-break-before:always")
h5 Μονάδα 3

p Η τρίτη μονάδα Deliyannis-Friend δεύτερης τάξης, πρέπει να υλοποιεί:

figure.block-center.width-15cm
	table.ui.celled.table.teal.striped.center.aligned
		thead
			tr
				th Προδιαγραφή
				th Τιμή
		tbody
			tr
				td ω#[sub 03]
				td 6363.121
			tr
				td Q
				td 26.599
			tr
				td ω#[sub z]
				td 0+0j
			tr
				td Angle
				td ±88.92°
	figcaption
		.reference #[span.table-count]
		.caption.
			Προδιαγραφές τρίτης ζωνοδιαβατής μονάδας Deliyannis-Friend

p.
	Υπολογίζεται το BW χρησιμοποιώντας την εξίσωση #[span.course-notes-equation 7-62]:

p.latex-equation.
	$$BW=\frac{\omega_{03}}{Q}=\frac{6363.121}{26.599}= 239.2234\frac{\text{rad}}{\text{s}}$$

p.
	Υπολογίζονται τα στοιχεία του κυκλώματος του φίλτρου, με χρήση της μεθοδολογίας που περιγράφεται στο κεφάλαιο 7.3-1 (σελίδα 20) και των εξισώσεων #[span.course-notes-equation 7-86] εώς και #[span.course-notes-equation 7-89]:

p.latex-equation.
	$$C_1 = C_2 = C = \frac{1}{2Q} = \frac{1}{2*26.599} = 0.0188\text{ F}$$

p.latex-equation.
	$$R_1 = 1\text{ Ohm}$$

p.latex-equation.
	$$R_2 = 4Q^2 = 4*26.599^2 = 2830.027\text{ Ohm}$$

p #[strong Κλιμακοποίηση]

p.
	Γίνεται κλιμακoποίηση των στοιχείων της μονάδας για να μεταφερθούν οι συχνότητες στις πραγματικές τιμές. Επιλέγεται:

p.latex-equation.
	$$k_{f} = \omega_{03} = 6363.121$$

div(style="page-break-before:always")
p.
	Με βάση τον αριθμό ΑΕΜ (8261) επιλέγεται κατάλληλος συντελεστής κλιμακοποίησης πλάτους ώστε να επιτευχθεί τιμή πυκνωτών ίση με 0.1μF, γίνεται χρήση του τύπου #[span.course-notes-equation 6-33]:

p.latex-equation.
	$$k_{m} = \frac{C_{old}}{k_fC_{new}} = \frac{0.0188}{6363.121*0.1*10^{-6}} = 29.5416$$

p.
	Οι τιμές των στοιχείων μετά την κλιμακοποίηση είναι:

p.latex-equation.
	$$C_1 = C_2 = 0.1\text{ μF}$$
	$$R_1 = 29.5416\text{ Ohm}$$
	$$R_2 = 83603\text{ Ohm}$$

p.
	Υπολογίζεται το κέρδος της μονάδας στην κεντρική της συχνότητα (ω#[sub 03]), χρησιμοποιώντας την εξίσωση #[span.course-notes-equation 7-89]:

p.latex-equation.
	$$T_{BP(j1)} = 2Q^2 = 1415$$

p.
	Μεγαλύτερο ενδιαφέρον, όμως, έχει το κέρδος στη κεντρική συχνότητα του φίλτρου (5654.867 rad/s) το οποίο υπολογίζεται χρησιμοποιώντας την εξίσωση #[span.course-notes-equation 11-58]:

p.latex-equation.
	$$\begin{align*} \left | T_{BP_3(s)} \right | &= \sqrt{\frac{(2Q_3\omega_{03}\omega)^2}{(\omega_{03}^2-\omega^2)^2+\big(\frac{\omega_{03}}{Q_3}\big)^2\omega^2}} \\[1em] &= \sqrt{\frac{(2*26.599*6363.121*5654.867)^2}{(6363.121^2-5654.867^2)^2+\big(\frac{6363.121}{26.599}\big)^2*5654.867^2}} \\[1em] &= 222.1016 \\ \end{align*}$$


p #[strong Ρύθμιση κέρδους]

p.
	Με βάση τον αριθμό ΑΕΜ (8261) πραγματοποιείται ρύθμιση κέρδους με στόχο την επίτευξη κέρδους 0 dB στη ζώνη διόδου.

p.
	Με βάση το κέρδος της μονάδας στην κεντρική συχνότητα του φίλτρου υπολογίζεται η απόσβεση που πρέπει να εφαρμοστεί στην είσοδο της μονάδας με έναν διαιρέτη τάσης:

p.latex-equation.
	$$\alpha = \frac{1}{\left | T_{BP_3(s)} \right |} = 0.0045$$

div(style="page-break-before:always")
p.
	Οι αντιστάσεις του διαιρέτη υπολογίζονται χρησιμοποιώντας τις εξισώσεις #[span.course-notes-equation 7-90] (πιο συγκεκριμένα, στη μορφή που έχουν στο παράδειγμα 7.2):

p.latex-equation.
	$$Z_2 = \frac{R_1}{\alpha} = \frac{29.5416}{0.0045} = 6561\text{ Ohm}$$
	$$Z_3 = \frac{R_1}{1-\alpha} = \frac{29.5416}{1-0.0045} = 29.6752\text{ Ohm}$$

p Οι τελικές τιμές των στοιχείων φαίνονται στον παρακάτω πίνακα:

figure.block-center.width-15cm
	table.ui.celled.table.teal.striped.center.aligned
		thead
			tr
				th Στοιχείο/Κέρδος
				th Τιμή
		tbody
			tr
				td C#[sub 1] = C#[sub 2]
				td(colspan="2") 0.1 μF
			tr
				td R#[sub 2]
				td(colspan="2") 83603.858 Ohm
			tr
				td Ζ#[sub 2]
				td(colspan="2") 6561.226 Ohm
			tr
				td Ζ#[sub 3]
				td(colspan="2") 29.675 Ohm
	figcaption
		.reference #[span.table-count]
		.caption.
			Τιμές των στοιχείων της τρίτης μονάδας

p.
	Υπολογίζεται η συνάρτηση μεταφοράς της μονάδας:

p.latex-equation.
	$$\begin{align*} T_{BP(s)} &= -\frac{\frac{1}{Z_2C}s}{s^2+\frac{2}{CR_2}s+\frac{1}{C^2R_2(Z2||Z3)}} \\[1em] &=-\frac{\frac{1}{6561.226*0.1*10^{-6}}s}{s^2+\frac{2}{0.1*10^{-6}83603.858}s+\frac{1}{(0.1*10^-6)^2*83603.858(6561.226||29.675)}} \\[1em] &=-\frac{1524.1s}{s^2+239.223s+40486530.84} \end{align*}$$

div(style="page-break-before:always")
h5 Μονάδα 4

p Η τέταρτη μονάδα Deliyannis-Friend δεύτερης τάξης, πρέπει να υλοποιεί:

figure.block-center.width-15cm
	table.ui.celled.table.teal.striped.center.aligned
		thead
			tr
				th Προδιαγραφή
				th Τιμή
		tbody
			tr
				td ω#[sub 04]
				td 5025.446
			tr
				td Q
				td 26.599
			tr
				td ω#[sub z]
				td 0+0j
			tr
				td Angle
				td ±88.92°
	figcaption
		.reference #[span.table-count]
		.caption.
			Προδιαγραφές τέταρτης ζωνοδιαβατής μονάδας Deliyannis-Friend

p.
	Υπολογίζεται το BW χρησιμοποιώντας την εξίσωση #[span.course-notes-equation 7-62]:

p.latex-equation.
	$$BW=\frac{\omega_{04}}{Q}=\frac{5025.446}{26.599}= 188.9331\frac{\text{rad}}{\text{s}}$$

p.
	Υπολογίζονται τα στοιχεία του κυκλώματος του φίλτρου, με χρήση της μεθοδολογίας που περιγράφεται στο κεφάλαιο 7.3-1 (σελίδα 20) και των εξισώσεων #[span.course-notes-equation 7-86] εώς και #[span.course-notes-equation 7-89]:

p.latex-equation.
	$$C_1 = C_2 = C = \frac{1}{2Q} = \frac{1}{2*26.599} = 0.0188\text{ F}$$

p.latex-equation.
	$$R_1 = 1\text{ Ohm}$$

p.latex-equation.
	$$R_2 = 4Q^2 = 4*26.599^2 = 2830.027\text{ Ohm}$$

p #[strong Κλιμακοποίηση]

p.
	Γίνεται κλιμακoποίηση των στοιχείων της μονάδας για να μεταφερθούν οι συχνότητες στις πραγματικές τιμές. Επιλέγεται:

p.latex-equation.
	$$k_{f} = \omega_{04} = 5025.446$$

div(style="page-break-before:always")
p.
	Με βάση τον αριθμό ΑΕΜ (8261) επιλέγεται κατάλληλος συντελεστής κλιμακοποίησης πλάτους ώστε να επιτευχθεί τιμή πυκνωτών ίση με 0.1μF, γίνεται χρήση του τύπου #[span.course-notes-equation 6-33]:

p.latex-equation.
	$$k_{m} = \frac{C_{old}}{k_fC_{new}} = \frac{0.0188}{5025.446*0.1*10^{-6}} = 37.4049$$

p.
	Οι τιμές των στοιχείων μετά την κλιμακοποίηση είναι:

p.latex-equation.
	$$C_1 = C_2 = 0.1\text{ μF}$$
	$$R_1 = 37.4049\text{ Ohm}$$
	$$R_2 = 105856\text{ Ohm}$$

p.
	Υπολογίζεται το κέρδος της μονάδας στην κεντρική της συχνότητα (ω#[sub 04]), χρησιμοποιώντας την εξίσωση #[span.course-notes-equation 7-89]:

p.latex-equation.
	$$T_{BP(j1)} = 2Q^2 = 1415$$

p.
	Μεγαλύτερο ενδιαφέρον, όμως, έχει το κέρδος στη κεντρική συχνότητα του φίλτρου (5654.867 rad/s) το οποίο υπολογίζεται χρησιμοποιώντας την εξίσωση #[span.course-notes-equation 11-58]:

p.latex-equation.
	$$\begin{align*} \left | T_{BP_4(s)} \right | &= \sqrt{\frac{(2Q_4\omega_{04}\omega)^2}{(\omega_{04}^2-\omega^2)^2+\big(\frac{\omega_{04}}{Q_4}\big)^2\omega^2}} \\[1em] &= \sqrt{\frac{(2*26.599*5025.446*5654.867)^2}{(5025.446^2-5654.867^2)^2+\big(\frac{5025.446}{26.599}\big)^2*5654.867^2}} \\[1em] &= 222.1016 \\ \end{align*}$$

p #[strong Ρύθμιση κέρδους]

p.
	Με βάση τον αριθμό ΑΕΜ (8261) πραγματοποιείται ρύθμιση κέρδους με στόχο την επίτευξη κέρδους 0 dB στη ζώνη διόδου.

p.
	Με βάση το κέρδος της μονάδας στην κεντρική συχνότητα του φίλτρου υπολογίζεται η απόσβεση που πρέπει να εφαρμοστεί στην είσοδο της μονάδας με έναν διαιρέτη τάσης:

p.latex-equation.
	$$\alpha = \frac{1}{\left | T_{BP_4(s)} \right |} = 0.0045$$

div(style="page-break-before:always")
p.
	Οι αντιστάσεις του διαιρέτη υπολογίζονται χρησιμοποιώντας τις εξισώσεις #[span.course-notes-equation 7-90] (πιο συγκεκριμένα, στη μορφή που έχουν στο παράδειγμα 7.2):

p.latex-equation.
	$$Z_2 = \frac{R_1}{\alpha} = \frac{37.4049}{0.0045} = 8308\text{ Ohm}$$
	$$Z_3 = \frac{R_1}{1-\alpha} = \frac{37.4049}{1-0.0045} = 37.5741\text{ Ohm}$$

p Οι τελικές τιμές των στοιχείων φαίνονται στον παρακάτω πίνακα:

figure.block-center.width-15cm
	table.ui.celled.table.teal.striped.center.aligned
		thead
			tr
				th Στοιχείο/Κέρδος
				th Τιμή
		tbody
			tr
				td C#[sub 1] = C#[sub 2]
				td(colspan="2") 0.1 μF
			tr
				td R#[sub 2]
				td(colspan="2") 105857.557 Ohm
			tr
				td Ζ#[sub 2]
				td(colspan="2") 8307.695 Ohm
			tr
				td Ζ#[sub 3]
				td(colspan="2") 37.574 Ohm
	figcaption
		.reference #[span.table-count]
		.caption.
			Τιμές των στοιχείων της τέταρτης μονάδας

p.
	Υπολογίζεται η συνάρτηση μεταφοράς της μονάδας:

p.latex-equation.
	$$\begin{align*} T_{BP(s)} &= -\frac{\frac{1}{Z_2C}s}{s^2+\frac{2}{CR_2}s+\frac{1}{C^2R_2(Z2||Z3)}} \\[1em] &=-\frac{\frac{1}{8307.695*0.1*10^{-6}}s}{s^2+\frac{2}{0.1*10^{-6}105857.557}s+\frac{1}{(0.1*10^-6)^2*105857.557(8307.695||37.574)}} \\[1em] &=-\frac{1203.7s}{s^2+188.933s+25255181.75} \end{align*}$$

div(style="page-break-before:always")
h4 Συναρτήσεις μεταφοράς

p.
	Στον παρακάτω πίνακα φαίνονται οι συναρτήσεις μεταφοράς των επιμέρους μονάδων που υπολογίστηκαν παραπάνω:

figure.block-center.width-15cm
	table.ui.celled.table.teal.striped.center.aligned
		thead
			tr
				th Μονάδα
				th Συνάρτηση μεταφοράς
		tbody
			tr
				td Πρώτη μονάδα (Unit 1)
				td.
					$$T_{BP(s)}^1 =-\frac{795.697s}{s^2+542.1426s+35270884.89}$$
			tr
				td Δεύτερη μονάδα (Unit 2)
				td.
					$$T_{BP(s)}^2 =-\frac{721.397s}{s^2+491.5187s+28991510.41}$$
			tr
				td Τρίτη μονάδα (Unit 3)
				td.
					$$T_{BP(s)}^3 =-\frac{1524.1s}{s^2+239.223s+40486530.84}$$
			tr
				td Τέταρτη μονάδα (Unit 4)
				td.
					$$T_{BP(s)}^4 =-\frac{1203.7s}{s^2+188.933s+25255181.75}$$
	figcaption
		.reference #[span.table-count]
		.caption.
			Συναρτήσεις μεταφοράς των επιμέρους μονάδων

p.
	Η συνολική συνάρτηση μεταφοράς του φίλτρου υπολογίζεται:

p.latex-equation.
	$$\begin{align*}
	T_{BP(s)} &= T_{BP(s)}^1T_{BP(s)}^2T_{BP(s)}^3T_{BP(s)}^4 \\[3.5mm] &=\frac{1.053*10^{12}*s^4}{s^8+1461.8*s^7+1.3076*10^{8}*s^6+1.4238*10^{11}*s^5+6.3188*10^{15}*s^4+} \hspace{3mm}\text{...} \\[3.5mm] &\text{...}\hspace{3mm}\frac{1.053*10^{12}*s^4}{+4.5529*10^{18}*s^3+1.3371*10^{23}*s^2+4.78*10^{25}*s+1.04556*10^{30}} \end{align*}$$

div(style="page-break-before:always")
p.
	Στο παρακάτω σχήμα φαίνεται το τελικό κύκλωμα του φίλτρου:

figure.block-center.width-19cm
	img(src="2_band_pass/assets/diagrams/multisim_band_pass_chebyshev_circuit_layout_only_filter.svg").width-19cm
	figcaption
		.reference #[span.plot-count]
		.caption.
			Κύκλωμα κατωδιαβατού φίλτρου
