div(style="page-break-before:always")
// Chapter title
h2 Ζωνοδιαβατό φίλτρο Chebyshev
br/

// Chapter description/introduction
p.
	Με βάση τον αριθμό ΑΕΜ (8261), υπολογίστηκαν οι προδιαγραφές του ζωνοδιαβατό φίλτρου προς σχεδίαση:

figure.block-center.width-15cm
	table.ui.celled.table.teal.striped.center.aligned
		thead
			tr
				th Προδιαγραφή
				th Τιμή
		tbody
			tr
				td Central frequency (f#[sub 0])
				td 900 Hz
			tr
				td Central radial frequency (ω#[sub 0])
				td 5654.867 rad/s
			tr
				td Low pass frequency (f#[sub 1])
				td 800 Hz
			tr
				td Low pass radial frequency (ω#[sub 1])
				td 5026.548 rad/s
			tr
				td High pass frequency (f#[sub 2])
				td 1012.5 Hz
			tr
				td High pass radial frequency (ω#[sub 2])
				td 6361.725 rad/s
			tr
				td Low stop frequency (f#[sub 3])
				td 696.11 Hz
			tr
				td Low stop radial frequency (ω#[sub 3])
				td 4373.786 rad/s
			tr
				td High stop frequency (f#[sub 4])
				td 1163.61 Hz
			tr
				td High stop radial frequency (ω#[sub 4])
				td 7311.175 rad/s
			tr
				td Frequency bandwidth (bw)
				td 212.5 Hz
			tr
				td Radial frequency bandwidth (bw)
				td 1335.177 rad/s
			tr
				td Min stop attenuation (a#[sub min])
				td 28.556 dB
			tr
				td Max pass attenuation (a#[sub max])
				td 0.667 dB
	figcaption
		.reference #[span.table-count]
		.caption.
			Προδιαγραφές σχεδίασης ζωνοδιαβατού φίλτρου

figure.block-center.width-15cm
	img(src="2_band_pass/assets/diagrams/band_pass_general_transfer_function_plot.svg").width-15cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Ποιοτικό γράφημα συνάρτησης μεταφοράς ζωνοδιαβατού Chebyshev φίλτρου.
		.caption.
			Στο γράφημα φαίνονται οι συχνότητες που ορίζουν τη ζώνη διόδου (f#[sub 1]/ω#[sub 1] και f#[sub 2]/ω#[sub 2]) και τη ζώνη αποκοπής (f#[sub 3]/ω#[sub 3] και f#[sub 4]/ω#[sub 4]), καθώς και οι προδιαγραφές α#[sub min] και α#[sub max].

// Sub-Chapters
include 2_band_pass_design
include 2_band_pass_transfer_function_matlab
include 2_band_pass_transfer_function_multisim
